@using Orchard.Utility.Extensions
@using Laser.Orchard.NewsLetters.Services
@{
    Layout.Title = T("Newsletter unsubscription");
}
@if (Model != null && Model.ContentItem != null) {
    <h1>@String.Format(T("Newsletter {0} unsubscription").Text, Model.ContentItem.TitlePart.Title)</h1>
    using (Html.BeginForm("Unsubscribe", "Subscription", new { area = "Laser.Orchard.NewsLetters" }, FormMethod.Post, new { @class = "newsletter-form" })) {
    <ul>
        <li class="emailForm">
            <label for="Email">@T("Email")</label>
            <input id="Email" class="text" name="Email" type="text" placeholder="@T("Email Address")" />
        </li>
        <li>
            <label for="ConfirmEmail">@T("Email Confirmation")</label>
            <input id="ConfirmEmail" class="text" name="ConfirmEmail" type="text" placeholder="@T("Email Confirmation")" />
        </li>
        @Html.Hidden("Subscription_Newsletters_Ids", (object)Model.ContentItem.Id.ToString())
    </ul>
    <input id="ReturnUrl" name="ReturnUrl" type="hidden" value="@Context.Request.RawUrl" />
    <input id="Id" name="Id" type="hidden" value="@Model.ContentItem.Id" />
    @Html.AntiForgeryTokenOrchard()
    <input type="submit" name="Newsletter_Subscriber_Unsubscribe" value="@T("Unsubscribe")" />
    }
}