@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.Utility.Extensions;
@using Orchard.MediaLibrary.Models

@{
    var field = (MediaLibraryPickerField)Model.ContentField;
    string name = field.DisplayName;
    var contents = field.MediaParts;
    Script.Require("jQueryColorBox").AtHead();
    Script.Require("jQuery_CarouFredSel").AtHead();

    Style.Require("jQueryColorBox").AtHead();
}
<section class="media-library-picker-field media-library-picker-field-@name.HtmlClassify()">
    <h3>@name</h3>
    <div id="wrapper-@Model.ContentPart.Id" class="carousel-wrapper">
        <div id="carousel-@Model.ContentPart.Id" class="carousel">
            @foreach (var content in contents) {
                var mediaPart = ((ContentItem)content.ContentItem).As<MediaPart>();
                <img width="200" title="@(mediaPart.AlternateText!=null?mediaPart.AlternateText:mediaPart.Title)" rel="caroufredsel-@Model.ContentPart.Id" data-img="@Display.ResizeMediaUrl(Width: 800, Height: 600, Mode: "crop", Alignment: "middlecenter", Path: mediaPart.MediaUrl)" src="@Display.ResizeMediaUrl(Width: 200, Height: 150, Mode: "crop", Alignment: "middlecenter", Path: mediaPart.MediaUrl)" />
            }
        </div>
    </div>
    @*    <a id="prev-@Model.ContentPart.Id" class="carousel-prev" href="#"></a>
    <a id="next-@Model.ContentPart.Id" class="carousel-next" href="#"></a>*@
    @*    <div>
        @Display(BuildDisplay(content, "Summary"))
    </div>*@
</section>

@{    
    
    using (Script.Foot()) {
        /* <![CDATA[ */
    <script type="text/javascript">
        $(function () {
            $("#carousel-@Model.ContentPart.Id img").colorbox({
                width: '80%',
                href: function () {
                    var url = $(this).attr("data-img");
                    return url;
                },
                rel: 'caroufredsel-@Model.ContentPart.Id',
                title: function () {
                    var url = $(this).attr("data-link");
                    var title = $(this).attr("title");
                    return '<a href="' + url + '" target="_blank">' + title + '</a>';
                },
            });
            $('#carousel-@Model.ContentPart.Id').carouFredSel({
                responsive: true,
                height: 'auto',
                width: '100%',
                items: 5,
                auto: {
                    items: 2
                },
                @*                prev: '#prev-@Model.ContentPart.Id',
                next: '#next-@Model.ContentPart.Id'*@
            });

        });
    </script>
    }
/* ]]> */

}
@{
//ImagePart imagePart = Model.ContentPart;
//var mediaPart = ((ContentItem)Model.ContentItem).As<MediaPart>();
}

@* Use a 200x200 profile in order to reuse the general thumbnail *@
@*<a href="@Url.Content(mediaPart.MediaUrl)">
    <img width="200" height="150" alt="@mediaPart.AlternateText" src="@Display.ResizeMediaUrl(Width: 200, Height: 150, Mode: "crop", Alignment: "middlecenter", Path: mediaPart.MediaUrl)" />
</a>*@

