@using Laser.Orchard.NwazetIntegration.ViewModels

@model FacebookShopSiteSettingsViewModel
@{
    var confirmMessage = T("Synchronize all products on Facebook Shop catalog?").Text;
    var redirectUrl = WorkContext.HttpContext.Request.Url.AbsoluteUri;
}
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m=>m.ApiBaseUrl)">@T("Api base url")</label>
        @Html.TextBoxFor(m => m.ApiBaseUrl, new { @class = "text medium" })
        <span class="hint">@T("Base url for api calls to Facebook Graph services")</span>
    </div>
</fieldset>
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m=>m.DefaultJsonForProductUpdate)">@T("Default json")</label>
        @Html.TextAreaFor(m => m.DefaultJsonForProductUpdate, new { @class = "text medium tokenized", rows = "20" })
        <span class="hint">@T("This is the json body for product creation / update on Facebook shop.")</span>
        <span class="hint">@T("This value will be used when no specific json is set in the FacebookProductPart of the product content definition.")</span>
    </div>
</fieldset>
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m=>m.BusinessId)">@T("Facebook business id")</label>
        @Html.TextBoxFor(m => m.BusinessId, new { @class = "text medium" })
        <span class="hint">@T("Id of the Facebook business")</span>
    </div>
</fieldset>
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m=>m.CatalogId)">@T("Facebook catalog id")</label>
        @Html.TextBoxFor(m => m.CatalogId, new { @class = "text medium" })
        <span class="hint">@T("Id of the catalog on Facebook business")</span>
    </div>
</fieldset>
@*<fieldset>
        <div>
            <label for="@Html.FieldIdFor(m=>m.AppId)">@T("Facebook app id")</label>
            @Html.TextBoxFor(m => m.AppId, new { @class = "text medium" })
            <span class="hint">@T("Id of the app on Facebook business")</span>
        </div>
    </fieldset>
    <fieldset>
        <div>
            <label for="@Html.FieldIdFor(m=>m.AppSecret)">@T("Secret code of the Facebook app")</label>
            @Html.TextBoxFor(m => m.AppSecret, new { @class = "text medium" })
            <span class="hint">@T("Secret code of the app on Facebook business")</span>
        </div>
    </fieldset>*@
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m=>m.AccessToken)">@T("Access Token for the Facebook Shop")</label>
        @Html.TextBoxFor(m => m.AccessToken, new { @class = "text medium" })
        <span class="hint">@T("This is the access token of the System User of the Facebook business")</span>
    </div>
</fieldset>
<fieldset>
    <div>
        @Html.ActionLink(T("Synchronize all published content on Facebook Shop"), "SyncProducts", new { area = "Laser.Orchard.NwazetIntegration", controller = "FacebookShop", redirectUrl = redirectUrl }, new { onclick = "javascript:return confirm('" + confirmMessage + "');" })
    </div>
</fieldset>