@model Laser.Orchard.Mobile.Models.UserPwdRecoveryPart
<fieldset>
    <legend>@T("Password recovery phone number")</legend>
    <div class="form-group">
        <label class="sr-only" for="@Html.FieldIdFor(m => m.InternationalPrefix)">@T("International prefix"):</label>
        @Html.TextBoxFor(m => m.InternationalPrefix, new { autofocus = "autofocus", placeholder = T("International prefix")+"...", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.InternationalPrefix)
    </div>
    <div class="form-group">
        <label class="sr-only" for="@Html.FieldIdFor(m => m.PhoneNumber)">@T("Phone number"):</label>
        @Html.TextBoxFor(m => m.PhoneNumber, new { autofocus = "autofocus", placeholder = T("Phone number")+"...", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
</fieldset>
