@model Laser.Orchard.StartupConfig.ShortCodes.ViewModels.ShortCodesEditor
@{
    Style.Require("jQueryColorBox").AtHead();
    Script.Require("jQueryColorBox").AtFoot();
<div id="shortcode-@Model.Part-@Model.Field-container"
     data-type="shortcode-container"
     data-element-id="@Model.ElementId">
    <label>@T("Insert Short Codes")</label>
    @foreach (var provider in Model.Descriptors) {
        provider.Editor.RouteValues.Add("type", Model.ContentType);
        if (Model.Part != null) {
            provider.Editor.RouteValues.Add("part", Model.Part.PartDefinition.Name);
        }
        if (Model.Field != null) {
            provider.Editor.RouteValues.Add("field", Model.Field.FieldDefinition.Name);
        }
        <a id="@Model.ElementId-@provider.Name"
           data-type="shortcode-button"
           data-shortcode-format="@provider.ShortCodeFormat"
           data-add-url="@HttpUtility.JavaScriptStringEncode(Url.Action(provider.Editor.ActionName,provider.Editor.ControllerName, provider.Editor.RouteValues))"
           data-flavor="@Model.ElementFlavor"
           data-element-id="@Model.ElementId"
           class="btn btn-app shortcode shortcode-@provider.Name">
            <i class="@provider.ButtonIconClass"></i> 
            @provider.ButtonText
        </a>
    }
</div>
}
@using (Script.Foot()) {
    <script type="text/javascript">
        $('*[data-type="shortcode-button"]').click(function (e) {
            var shortcode = $(this);
            var flavor = shortcode.data("flavor");
            var shortcodeFormat = shortcode.data("shortcode-format");
            var addUrl = shortcode.data("add-url");
            var elementId = shortcode.data("element-id");
            if (addUrl != null) {
                $.colorbox({
                    href: addUrl,
                    iframe: true,
                    reposition: true,
                    width: "100%",
                    height: "100%",
                    onLoad: function () { // hide the scrollbars from the main window
                        $('html, body').css('overflow', 'hidden');
                        $('#cboxClose').remove();
                        shortcode.trigger("opened");
                    },
                    onClosed: function () {
                        $('html, body').css('overflow', '');
                        var selectedData = $.colorbox.selectedData;
                        if (selectedData == null) { // Dialog cancelled, do nothing
                            shortcode.trigger("closed");
                            return;
                        }
                        //TODO: Add Insert Logic
                        if (flavor == "Html") {
                            if (tinymce.editors[elementId]) {

                                tinymce.editors[elementId].execCommand('mceInsertContent', false, selectedData)
                            }
                        }
                        else {
                            alert(shortcodeFormat);
                        }

                        shortcode.trigger("closed");
                    }
                });
            }
        });
        $('*[data-type="shortcode-container"]').each(function () {
            var shortcodeContainer = $(this);
            var elementId = shortcodeContainer.data("element-id");
            var destinationContainer = $("#" + elementId).parent();
            shortcodeContainer.prependTo(destinationContainer);
        });
    </script>
}


