@using Laser.Orchard.Questionnaires.Models
@model Laser.Orchard.Questionnaires.ViewModels.QuestionnaireEditModel
@{    Script.Require("JQuery").AtHead();
      Script.Require("jQueryUI_Sortable").AtHead();
      Script.Require("jQueryUI_Tabs").AtHead();
      Script.Require("jQuery_NestedModels").AtHead();
      Script.Require("jQuery_UI_Multiselect_Widget").AtHead();
      Style.Require("DivTableLayouts").AtHead();
      Style.Require("jQuery_UI_Multiselect_Widget").AtHead();
      Style.Require("FontAwesome430").AtHead();
      Style.Require("QuestionnaireAdmin").AtHead();
      Script.Require("jQueryColorBox").AtHead();
      Style.Require("jQueryColorBox").AtHead();
      using (Script.Head()) {
    <script type="text/javascript">
        //<![CDATA[

        var removeValue = function (list, value, separator) {
            separator = separator || ",";
            var values = list.split(separator);
            for (var i = 0 ; i < values.length ; i++) {
                if (values[i] == value) {
                    values.splice(i, 1);
                    return values.join(separator);
                }
            }
            return list;
        }

        function AddMedia(sender, fieldIdForIds, maxMedia){
            var url = '@HttpUtility.JavaScriptStringEncode(Url.Action("Index", "Admin", new { area = "Orchard.MediaLibrary", dialog = true }))';
            var fieldIdForIdsSelector = "#" + fieldIdForIds;
            var thumbContainerSelector = "#Anteprima" + fieldIdForIds;
            var thumb_template = "<li>" +
                                        "<img src=\"{resource}\">"+
                                        "<a href=\"#\" onclick=\"javascript:if(confirm('@T("Remove the image?")')){$('{id_all_files}').val(removeValue($('{id_all_files}').val(),{contentItemId},','));$(this).closest('li').remove();return(false);}\">@T("Remove")</a>"+
                                    "</li>";
            if ($(fieldIdForIdsSelector).val()!="" && $(fieldIdForIdsSelector).val().split(',').length>=maxMedia && maxMedia > 0){
                alert('@T("Max number of uploadable pictures reached. Try to remove one of the existing before adding a new one.")');
            } else {
                $.colorbox({
                    href: url,
                    iframe: true,
                    reposition: true,
                    width: "100%",
                    height: "100%",
                    onLoad: function() { // hide the scrollbars from the main window
                        $('html, body').css('overflow', 'hidden');
                        $('#cboxClose').remove();
                    },
                    onClosed: function() {
                        $('html, body').css('overflow', '');
                        var selectedData = $.colorbox.selectedData;
                        if (selectedData == null) // Dialog cancelled, do nothing
                            return;

                        var selectionLength = maxMedia>0 ? Math.min(selectedData.length, maxMedia): selectedData.length;
                    
                        for (var i = 0; i < selectionLength ; i++) {
                            var oldVal = $(fieldIdForIdsSelector).val();
                            if (oldVal != "") {
                                $(fieldIdForIdsSelector).val(oldVal + "," + selectedData[i].id);
                            } else {
                                $(fieldIdForIdsSelector).val(selectedData[i].id);
                            }
                            var template = thumb_template
                                .replace(/\{contentItemId\}/g, selectedData[i].id)
                                .replace(/\{resource\}/g, selectedData[i].resource)
                                .replace(/\{id_all_files\}/g, fieldIdForIdsSelector);
                            var content = $(template);
                            $(thumbContainerSelector + ' ul').append(content);
                        }
                    }
                });
            }

        }
        //]]>
    </script>
          
          
    <script type="text/javascript">
        function colorboxclick(stringid, thetitle, theheight, thewidth) {
            $.colorbox({
                title: thetitle, height: theheight, width: thewidth, iframe: true, href: stringid
            })
        };
        function TestQuestionNumber() {
            if (@TempData["QuestionsLimitsNumber"]>0){
                var numitems = $('#j_menuquestion li').size();
                if (numitems >= @TempData["QuestionsLimitsNumber"]) {
                    $("#AddQuestionButton").hide();
            }
            else {
                $("#AddQuestionButton").show();
            }
        }
        };
    </script>

        
        
    <script type="text/javascript">
        $(document).ready(function () {
            $(".multis").multiselect({
                header: "Choose an Option!",
                click: function (event, ui) {
                    change_condition(this, ui.checked, ui.value);
                }
            });

            var tabs = $("#questions").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function () {
                    tabs.tabs("refresh");
                },
                start: function (event, ui) {
                    ui.item.startPos = ui.item.index();
                },
                update: function (event, ui) {
                    var numberOfItems = ui.item.context.parentElement.children.length;
                    laquestion = ui.item.find("a").attr("href");
                    $(laquestion).find('.position-field').val(ui.item.index());
                    for (var i = 0; i < numberOfItems; i++) {
                        var element = $(ui.item.context.parentElement.children[i]).find("a").attr("href");
                        var positionField = $(element).find('.position-field');
                        if (positionField != null) {
                            positionField.val(i);
                        }
                    }
                }
            });
            TestQuestionNumber();
            ScriviMenuTab();
        });

        function ScriviMenuTab() {
            var menutab = "";
            var numdom = 0;
            $('div.j_question').each(function () {
                if ($(this).find("input.mark-for-delete").val() == "False") {
                    numdom++;
                    var iddomanda = $(this).find(".j_iddomanda").val();
                    menutab += "<li><a href='#" + iddomanda + "'>" + numdom + "</a></li>";
                    $(this).find("input.position-field").val(numdom);
                    if ($(this).find(".j_condizione").val() != "") {
                        $(this).find("a.j_cond_link").css("font-weight", "Bold");
                        $(this).find("i.fa-cogs").css("color", "green");

                    } else {
                        $(this).find("a.j_cond_link").css("font-weight", "Normal");
                        $(this).find("i.fa-cogs").css("color", "black");
                    }
                }
            });

            $("#j_menuquestion").html(menutab);
            var tabs = $("#questions").tabs(); 
            tabs.tabs("refresh");
            if (numdom > 0) {
                tabs = $("#questions").tabs( "option", "active", numdom - 1 );
            }
            tabs.tabs("refresh");
        }

        function PannelloCondition(item) {
            $(item).closest(".j_question").find(".questioncondition").toggle();
        }
        function RefreshAnswerPostions(jQuerySelector) {
            var positionElements = $(jQuerySelector + " .answers-position-field")
            var index = 0;
            var totrisp=0;
            positionElements.each(function () {
 
                if ($(this).parent().is(":visible")) {
                    $(this).val(index);
                    totrisp++;  
                    if (@TempData["AnswersLimitsNumber"]>0){
                        if (totrisp>=@TempData["AnswersLimitsNumber"]) {
                          $(jQuerySelector).parent().parent().parent().parent().find(".addanswer").hide();
                    }
                    else {
                        $(jQuerySelector).parent().parent().parent().parent().find(".addanswer").show();
                    }
                }
                index++;
            }
            });
        }
    
    </script>
      }
}

<fieldset>
    <legend>@T("Questionnaire questions and allowed answers"):</legend>
    <div>
        @Html.EditorFor(m => m.UseRecaptcha)
        <label for="@Html.FieldIdFor(m => m.UseRecaptcha)" class="forcheckbox">@T("Use recaptcha")</label>
    </div>
    <br />
    <p id="AddQuestionButton">
        <i class="fa fa-plus" style="color: green"></i>@Html.LinkToAddNestedForm(x => x.Questions, T("Add Question").Text, "#questions", ".j_question", "question", null, "TestQuestionNumber(); ScriviMenuTab();")
    </p>
    <div id="questions">
        <ul id="j_menuquestion">
        </ul>
        @Html.EditorFor(x => x.Questions)
    </div>

</fieldset>

@using (Script.Foot()) {
    <script type="text/javascript">
        $('div.j_question').each(function () {
            var condizione_value = $(this).find(".j_condizione").val();
            var lista_condizione_value = condizione_value.split(' ');
            var testo = "<select multiple='multiple' class='multis'>";
            $('div.j_question').each(function () {

                testo = testo + "<optgroup label=\"" + $(this).find('textarea.domanda')[0].value + "\">";
                var $this = $(this);
                $this.find('input.j_risposta').each(function () {
                    var valRispo = $("#" + this.id.substring(0, this.id.lastIndexOf("__Answer")) + "__Id").val();
                    var selected = ""
                    for (i in lista_condizione_value) {
                        if (valRispo == lista_condizione_value[i])
                            selected = "selected";
                    }
                    testo = testo + "<option " + selected + " value='" + valRispo + "' >" + this.value + "</option>";
                });
                testo = testo + "</optgroup>";
            });

            $(this).find(".j_costruiscicondition").append(testo + "</select>");
        });


        function change_condition(element, bcheck, svalue) {
            if (bcheck) {
                writeCondition(element, svalue);
            } else {
                deleteCondition(element, svalue);
            }
        }

        function writeCondition(element, svalue) {
            elemcondiz = $(element).closest(".questioncondition").find(".j_condizione");
            if ($(elemcondiz).val().trim() == "") {
                $(elemcondiz).val(" " + svalue + " ");
            }
            else {
                $(elemcondiz).val($(elemcondiz).val() + " and " + svalue + " ");
            }
            $(elemcondiz).val($(elemcondiz).val().replace("  ", " "));
        }

        function deleteCondition(element, svalue) {
            elemcondiz = $(element).closest(".questioncondition").find(".j_condizione");
            $(elemcondiz).val($(elemcondiz).val().replace("  ", " "));
            $(elemcondiz).val($(elemcondiz).val().replace(" and " + svalue + " ", " ").replace(" or " + svalue + " ", " ").replace(" " + svalue + " and ", " ").replace(" " + svalue + " or ", " ").replace(" " + svalue + " ", " "));
        }
    </script>
}
