@using System.Web.Mvc;
@using Orchard.Utility.Extensions;
@using Orchard.Environment.Configuration;
@{
    ShellSettings _shellsettings;
    WorkContext.TryResolve<ShellSettings>(out _shellsettings);
    string tenantname = _shellsettings.Name.ToLower();

    var Menu = Model.Menu;
    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Menu.Items);

}

<nav class="navbar navbar-expand-lg navbar-default">
    <a class="navbar-brand" href="~/">@WorkContext.CurrentSite.SiteName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent@(Model.ContentItem.Id)" aria-controls="navbarSupportedContent@(Model.ContentItem.Id)" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent@(Model.ContentItem.Id)">
        <ul class="navbar-nav ml-auto">
            @foreach (var item in items)
            {
                //Every item is a MenuItem shape
                <li class="nav-item dropdown">
                    @Display(item)
                </li>
            }
            @if (WorkContext.CurrentUser != null)
            {
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@T("Welcome,") @Html.ItemDisplayText(WorkContext.CurrentUser)<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="@Url.Action("ChangePassword", new { Controller = "Account", Area = "Orchard.Users" })">@T("Change Password")</a>
                        </li>
                        <li><a class="dropdown-item" href="@Url.Action("LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })">@T("Logoff")</a></li>
                        @if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel))
                        {
                            <li>@Html.ActionLink(T("Dashboard").ToString(), "Index", new { Area = "Dashboard", Controller = "Admin" }, new { @class = "dropdown-item" })</li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    @Html.ActionLink(T("Login").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) }, new { @class = "nav-link" })
                </li>
            }
        </ul>
    </div>
</nav>