@using Orchard.ContentManagement
@using Orchard.Core.Common.Fields
@using Orchard.Fields.Fields
@using Orchard.MediaLibrary.Fields
@using Orchard.MediaLibrary.Models
@functions{

    ContentItem contentItem;
    IEnumerable<ContentField> fields;

    string titleOne, titleTwo, textOne, textTwo, textThree, pictureUrl;

    public string TextFieldValue(string fieldName) {
        var field = fields.Where(fi => fi is TextField && fi.Name == fieldName)
        .FirstOrDefault() as TextField;
        return field == null ? string.Empty : field.Value;
    }

}
@{
    contentItem = (ContentItem)Model.ContentItem;
    fields = contentItem.Parts
       .SelectMany(pa => pa.Fields);

    titleOne = TextFieldValue("TitleOne");
    titleTwo = TextFieldValue("TitleTwo");
    textOne = TextFieldValue("TextOne");
    textTwo = TextFieldValue("TextTwo");
    textThree = TextFieldValue("TextThree");

    var targetUrlField = fields.Where(fi => fi is LinkField && fi.Name == "TargetUrl")
        .FirstOrDefault() as LinkField;
    var targetUrl = targetUrlField == null ? string.Empty : targetUrlField.Value;
    targetUrl = string.IsNullOrWhiteSpace(targetUrl) ? "#" : targetUrl;

    var picturesField = fields.Where(fi => fi is MediaLibraryPickerField && fi.Name == "Picture")
.FirstOrDefault() as MediaLibraryPickerField;
    var pictures = picturesField == null ? new MediaPart[0] : picturesField.MediaParts.ToArray();
    pictureUrl = pictures.Any() ? pictures[0].MediaUrl : "";
}
@helper DrawTheDiv() {
    if (!string.IsNullOrWhiteSpace(pictureUrl)) {
        <img src="@Display.ResizeMediaUrl(Width: 400, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: pictureUrl)" alt=" " class="img-responsive" />
    }
    <div class="home_highlight_group_grid_right_pos">
        <h4>@titleOne<span>@titleTwo</span></h4>
        <h5>@textOne <span>@textTwo</span> @textThree</h5>
    </div>
}

@if (string.IsNullOrWhiteSpace(targetUrl)) {
    @DrawTheDiv()
} else {
    <a href="@targetUrl">@DrawTheDiv()</a>
}