@{
    Script.Require("jQuery");
    Script.Include("jquery.iframe-transport.js", "jquery.iframe-transport.min.js");
    Script.Include("shoppingcart.widget.js", "shoppingcart.widget.min.js");
    Script.Include("cartspinner.js", "cartspinner.min.js");
}
<div id="shopping-cart-widget-container" class="shopping-cart-container minicart"
     data-load="@Url.Action("NakedCart", "ShoppingCart", new {area="Nwazet.Commerce"})"
     data-update="@Url.Action("AjaxUpdate", "ShoppingCart", new {area="Nwazet.Commerce"})"
     data-token="@Html.AntiForgeryTokenValueOrchard()"
     data-use-local-storage="@Url.Action("UseLocalStorage", "ShoppingCart", new {area="Nwazet.Commerce"})">

</div>
<script type="text/javascript">
    var Nwazet = window.Nwazet || {};
    Nwazet.WaitWhileWeRestoreYourCart = "@T("Please wait while we restore your shopping cart...")";
    Nwazet.FailedToLoadCart = "@T("Failed to load the cart")";
</script>


