@model Laser.Orchard.Braintree.ViewModels.PaymentVM
@{
    Script.Require("jQuery").AtHead();
}
@Display.BraintreeDropin(ViewModel: Model)

<h1>@T("Pay with Braintree and PayPal")</h1>
<div id="div-warning" style="color:red;font-weight:700">@T("Loading...")</div>
<form id="checkout" method="post" action="@Html.Raw(Model.TenantBaseUrl)/Laser.Orchard.Braintree/Braintree/Pay">
    <div id="payment-form" style="border: 1px solid black"></div>
    <br />
    @T("Amount"): @Model.Record.Amount.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture) @Model.Record.Currency<br />
    <input type="hidden" name="pid" value="@Model.Record.Id" />
    <input type="hidden" id="nonce" name="payment_method_nonce" />
    <button id="pay-button" type="submit" disabled="disabled" style="padding: 10px 10px">@T("Pay now")</button>
    @Html.AntiForgeryToken()
</form>

