@using Laser.Orchard.NewsLetters.Extensions;
@using Orchard.Core.Contents.ViewModels;
@using Orchard.Utility.Extensions;
@using Laser.Orchard.NewsLetters.Models;

@{ Layout.Title = T("Newsletter Editions List ").ToString();
    int newsletterId = Model.NewsletterId;
}
<p class="breadcrumb"><a href="@Url.NewsLettersForAdmin()">@T("Newsletter List")</a>@T(" &#62; ")@T("Newsletter Edition List")</p>

<div class="actions"><a class="add button primaryAction" href="@Url.NewsLetterEditionCreate(newsletterId)">@T("Create New Edition")</a></div>
@using (Html.BeginFormAntiForgeryPost(Url.Action("List", "Admin", new { area = "Contents", id = "" }))) {
    @*
        <fieldset class="bulk-actions">
            <label for="publishActions">@T("Actions:")</label>
            <select id="publishActions" name="Options.BulkAction">
                @Html.SelectOption(ContentsBulkAction.None, ContentsBulkAction.None, T("Choose action...").ToString())
                @Html.SelectOption(ContentsBulkAction.None, ContentsBulkAction.Remove, T("Delete").ToString())
            </select>
            @Html.Hidden("returnUrl", ViewContext.RequestContext.HttpContext.Request.RawUrl)
            <button type="submit" name="submit.BulkEdit" value="yes">@T("Apply")</button>
        </fieldset>
    *@
    <fieldset class="contentItems bulk-items">
        <ul>
            @foreach (var item in Model.ContentItems) {
                var part = (NewsletterEditionPart)item.ContentItem.NewsletterEditionPart;
                <li class="last first">
                    <div class="summary">
                        <div class="properties">
                            <h3><a href="@Url.NewsLetterEditionEdit(newsletterId, part)">@item.ContentItem.TitlePart.Title</a></h3>
                            <div class="metadata">
                                <ul class="pageStatus">
                                    @if (part.Dispatched) {
                                        <li>
                                            <img class="icon" src="~/Modules/Orchard.PublishLater/Content/Admin/images/online.gif" alt="Sent" title="@T("Edition sent")">
                                        </li>

                                        <li>@String.Format(T("Newsletter edition nr. {0}").Text, part.Number)&nbsp;|&nbsp;</li>
                                        <li>@T("Sent on") @part.DispatchDate</li>
                                    } else {
                                        <li>
                                            <img class="icon" src="~/Modules/Orchard.PublishLater/Content/Admin/images/offline.gif" alt="Not yet sent" title="Edition not yet sent">
                                        </li>

                                        <li>@T("Newsletter to be numbered")&nbsp;|&nbsp;</li>
                                        <li>@T("Not yet sent")</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="related">
                            <a href="@Url.NewsLetterEditionEdit(newsletterId, part)">@T("Edit")</a>@* |
                                <a href="@Url.NewsLetterEditionRemove(part)" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>       *@
                        </div>
                    </div>
                </li>
            }
        </ul>
    </fieldset>
}
@using (Html.BeginForm("Index", "Routes", FormMethod.Post)) {
    @Display(Model.Pager)
}
