@using Orchard.ContentPicker.Fields
@using Orchard.Utility.Extensions;
@using Orchard.ContentManagement;

@{
    var field = (ContentPickerField)Model.ContentField;
    string name = field.DisplayName;
    var contentItems = field.ContentItems;
}
<p class="content-picker-field content-picker-field-@name.HtmlClassify()">
    <h3>@T(name): </h3>
    @if (contentItems.Any()) {
        <ul>
            @foreach (dynamic contentItem in contentItems) {
                <li class="value">
                    @if (contentItem.Prodotto.Gallery.MediaParts.Count > 0) {
                        <img src="@Display.ResizeMediaUrl(Width: 75, Height: 75, Mode: "crop", Alignment: "middlecenter", Path: contentItem.Prodotto.Gallery.MediaParts[0].MediaUrl)" />
                    }
                    @{
                    var content = (ContentItem)contentItem;
                        @Html.ItemDisplayLink(content)
                    string bodyHtml = contentItem.BodyPart.Text??"";
                    var body = new HtmlString(Html.Excerpt(bodyHtml, 75).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
                        <p>@body @Html.ItemDisplayLink(T("more").ToString(), content)</p>
                    }
                </li>
            }
        </ul>
    } else {
        <span class="value">@T("No content items.")</span>
    }
</p>

