@using Orchard.Utility.Extensions;
@using Orchard.ContentManagement;

@{
    var contentItems = Model.ContentPickerConnector.ParentContentItems;
}
<p class="content-picker-connector">
    <h3>@T("Producers"): </h3>
    @if (contentItems.Length>0) {
        <ul>
            @foreach (dynamic contentItem in contentItems) {
                dynamic parent = (dynamic)contentItem.ParentContentItem;
                <li class="value">
                    @if (parent.Produttore.Gallery.MediaParts.Count > 0) {
                        <img src="@Display.ResizeMediaUrl(Width: 75, Height: 75, Mode: "crop", Alignment: "middlecenter", Path: parent.Produttore.Gallery.MediaParts[0].MediaUrl)" />
                    }
                    @{
                var content = (ContentItem)parent;
                        @Html.ItemDisplayLink(content)
                if (parent.BodyPart!=null) {
                string bodyHtml = parent.BodyPart.Text??"";
                    var body = new HtmlString(Html.Excerpt(bodyHtml, 75).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
                        <p>@body @Html.ItemDisplayLink(T("more").ToString(), content)</p>
                    }
                    }
                </li>
            }
        </ul>
    } else {
        <span class="value">@T("No content items.")</span>
    }
</p>

