@model Laser.Orchard.Queries.ViewModels.QueryPickerVM
@{
    Script.Require("jQuery_UI_Multiselect_Widget").AtHead();
    Style.Require("jQuery_UI_Multiselect_Widget").AtHead();
    using (Script.Foot()) {
        <script type="text/javascript">
            $(function () {
                $("#QueryPickerPart_SelectedIds").multiselect();
            });
        </script>
    };
}
<fieldset>
    <label>@T("Custom queries picker")</label>
    <label class="hint">@T("Pick a user defined query")</label>

    <select id="QueryPickerPart_SelectedIds" multiple="multiple" name="QueryPickerPart.SelectedIds">
        <optgroup label="General purpouse queries">
            @foreach (var item in Model.AvailableQueries) {
                <option value="@item.Key" @((Model.SelectedIds.Contains(item.Key)) ? "selected" : "")>@item.Value</option>
            }
        </optgroup>
        <optgroup label="One shot queries">
            @foreach (var item in Model.OneShotQueries) {
                <option value="@item.Key" @((Model.SelectedIds.Contains(item.Key)) ? "selected" : "")>@item.Value</option>
            }
        </optgroup>
    </select>
    @if (Model.TotalItemsCount.HasValue) {
        <span id="QueriesTotal">
            @T("found {0:N0} content items", Model.TotalItemsCount.Value)
        </span>
    }
</fieldset>
