@using Laser.Orchard.StartupConfig.ViewModels;
@model ApiCredentialsPartViewModel
<fieldset class="api-credentials">
    <legend>@T("API Credentials")</legend>
    @if (Model.HasCredentials()) {
        <div class="row api-credentials-key">
            @T("API Key: {0}", Model.ApiKey)
        </div>
        <div class="row api-credentials-secret">
            @T("API Secret: {0}", Model.ApiSecret)
        </div>
    }
    <button class="btn"
            type="submit"
            formaction="@Url.Action("Generate", "ApiCredentialsAdmin", new { area = "Laser.Orchard.StartupConfig" })">
        @T("Generate new credentials")
    </button>
    <input type="hidden" name="userId" value="@Model.Part.Id"/>
    <span class="hint">
        @T("By generating new credentials you will lose all unsaved changes to this content.")
    </span>
</fieldset>