@model Laser.Orchard.StartupConfig.Models.PerItemCachePart
@{
    Script.Require("jQuery");
}
@Display.TokenHint()
<fieldset>
    <legend></legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.PerItemKeyParam)">@T("New Cache Key")</label>
        @Html.TextBoxFor(m => m.PerItemKeyParam, new { @class = "text large tokenized" })
        <span class="hint">@T("hint")</span>
    </div>
</fieldset>
