@model Laser.Orchard.StartupConfig.Models.TaxonomyExtensionsSiteSettingsPart

<fieldset>
    <legend>@T("Taxonomy Settings")</legend>
    <div>
        @Html.CheckBoxFor(m => m.LocalizeTerms)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.LocalizeTerms)">@T("Add localization part to terms automatically")</label>
        <span class="hint">@T("If this option is checked, a localization part will be automatically added to each term content type when the corresponding taxonomy is saved.")</span>
    </div>
</fieldset>
