@using Laser.Orchard.Mobile.ViewModels
@model Laser.Orchard.Mobile.ViewModels.PushIndex
@{
    var _records = Model.PushRecords;
    Layout.Title = T("Devices");
}

@using (Html.BeginForm("Index", "PushNotification", FormMethod.Post)) {
    @Html.AntiForgeryToken()  
<fieldset class="bulk-actions">
    <label for="@Html.IdFor(m => m.Search.Expression)">@T("Search:")</label>
    <input type="text" id="@Html.IdFor(m => m.Search.Expression)" name="@Html.NameFor(m => m.Search.Expression)" value="@Model.Search.Expression" />
    <button type="submit">@T("Search")</button>
    <button type="submit" name="@Html.NameFor(m => m.Search.Operation)" value="Clear">@T("Clear Search")</button>
    <label>@T("Machine Name to reassign:")</label>
    <select name="@Html.NameFor(m => m.Search.SelectedMachineName)">
        @foreach (var machine in Model.MachineNames) {
            <option value="@machine">@machine &rarr; @Model.Search.ActualMachineName</option>
        }
    </select>
    <button type="submit" name="@Html.NameFor(m => m.Search.Operation)" value="Rename" onclick="return confirm('@T("Are you sure you want to reassign ALL devices from the selected Machine Name to {0}?", Model.Search.ActualMachineName).Text.Replace("'", "\\'")');">@T("Assign to Current Machine")</button>
    <label>@T("Actual Machine Name: {0}", Model.Search.ActualMachineName)</label>
    @Html.HiddenFor(m => m.Search.ActualMachineName)
    <br />
    <span class="hint">@T("To allow push notification to devices registered on multiple servers, please add the following line to the Settings.txt file (values separated by space):<br/>PushRegistrationAllowedMachineNames: server1 server2 server3")</span>
</fieldset>
}
<br />
<div class="table-responsive">
<table class="items" summary="@T("List of devices.")">
    <colgroup>
        <col id="Col1" />
        <col id="Col2" />
        <col id="Col3" />
        <col id="Col4" />
        <col id="Col5" />
        <col id="Col6" />
        <col id="Col7" />
    </colgroup>
    <thead>
        <tr>
            <th scope="col">&nbsp;&darr;</th>
            <th scope="col">@T("Device")</th>
            <th scope="col">@T("DataInserimento")</th>
            <th scope="col">@T("DataModifica")</th>
            <th scope="col">@T("UUIdentifier")</th>
            <th scope="col">@T("Token")</th>
            <th scope="col">@T("Validated")</th>
            <th scope="col">@T("Produzione")</th>
            <th scope="col">@T("Language")</th>
            <th scope="col">@T("Registration Host")</th>
            <th scope="col">@T("Registration Prefix")</th>
            <th scope="col">@T("Registration Machine")</th>
            <th scope="col">@T("Actions")</th>
        </tr>
    </thead>
    @if (_records != null) {

        foreach (var singlerecord in _records) {
        <tr  id="@("tr_Element" + singlerecord.Id)">
            <td>@singlerecord.Id</td>
            <td>@singlerecord.Device</td>
            <td>@singlerecord.DataInserimento</td>
            <td>@singlerecord.DataModifica</td>
            <td><div class="deviceTdminWidth">@singlerecord.UUIdentifier</div></td>
            <td>@singlerecord.Token</td>
            <td>@singlerecord.Validated</td>
            <td>@singlerecord.Produzione</td>
            <td>@singlerecord.Language</td>
            <td>@singlerecord.RegistrationUrlHost</td>
            <td>@singlerecord.RegistrationUrlPrefix</td>
            <td>@singlerecord.RegistrationMachineName</td>
            <td>
                <div>
                    @*@Html.ItemEditLinkWithReturnUrl(T("Edit").Text, (Orchard.ContentManagement.IContent)order)*@
                </div>
            </td>
        </tr>
        }
    }
</table>
    </div>
@Display(Model.Pager)