@model Laser.Orchard.StartupConfig.FileDownloader.ViewModels.FilesListVM
@{
    Layout.Title = T("File List");
}
<a href="@Model.UrlBack">@T("Back")</a>
<br />
<h2>@T("File List")</h2>
@if (Model.FileInfos.Count == 0) {
    <br />
    <div class="content">@T("No data found.")</div>    
} else{
    <fieldset class="contentItems bulk-items">
        <legend></legend>
        <ul>
        @foreach (var file in Model.FileInfos) {
            <li>
                <div class="summary">
                    @if (file.Name.StartsWith("__") && file.Extension.ToLowerInvariant() == ".tmp") { 
                    <div class="properties">
                        @file.Name - @T("The file process is in progress. Refresh the page in a few seconds.")
                    </div>
                    }
                    else {
                    <div class="properties">
                        <a href="@Url.Action("DownloadFile", new { fName = @file.Name })&folderName=@Model.FolderName&parentFolder=@Model.ParentFolder">@file.Name</a>
                    </div>
                    <div class="related">
                        <a href="@Url.Action("RemoveFile", new { fName = file.Name })&folderName=@Model.FolderName&parentFolder=@Model.ParentFolder&urlBack=@Url.Encode(Model.UrlBack)" onclick="return confirm('@T("Are you sure?")')">@T("Delete")</a>
                    </div>
                    }
                </div>
            </li>
        }
        </ul>
        @Display(Model.Pager)
    </fieldset>
}
