@using Laser.Orchard.Cookies;
@model Laser.Orchard.Cookies.Models.CookieSettingsPart

<legend style="margin-bottom:10px;">@T("CookieLaw Settings")</legend>

<fieldset class="buttons">
    <div>
        @Html.EditorFor(m => m.showCookieResetButton)
        <label class="forcheckbox" for="CookieSettings_showCookieResetButton">@T("Cookie Reset Button")</label>
        <span class="hint">@T("If the user accepts the cookies, it will display a reset cookies line.")</span>
    </div>
    <div>
        @Html.EditorFor(m => m.cookieDiscreetReset)
        <label class="forcheckbox" for="CookieSettings_cookieDiscreetReset">@T("Make the reset button discreet?")</label>
        <span class="hint">@T("It will show a small reset link instead of a full liner.")</span>
    </div>
</fieldset>

<fieldset class="position">
    <div>
        <label for="CookieSettings_cookiePosition">@T("Position of the Cookie Banner")</label>
        @Html.EnumDropDownListFor(m => m.cookiePosition)
        <span class="hint">@T("The position of the Cookie Banner.")</span>
    </div>
</fieldset>

<fieldset>
    <div>
        @Html.EditorFor(m => m.defaultValuePreferences)
        <label class="forcheckbox" for="CookieSettings_defaultValuePreferences">@T("Default value for Preferences cookies acceptance")</label>
        <span class="hint">@T("Check to set acceptance of Preference cookies as default.")</span>
    </div>
    <div>
        @Html.EditorFor(m => m.defaultValueStatistical)
        <label class="forcheckbox" for="CookieSettings_defaultValueStatistical">@T("Default value for Statistical cookies acceptance")</label>
        <span class="hint">@T("Check to set acceptance of Statistical cookies as default.")</span>
    </div>
    <div>
        @Html.EditorFor(m => m.defaultValueMarketing)
        <label class="forcheckbox" for="CookieSettings_defaultValueMarketing">@T("Default value for Marketing cookies acceptance")</label>
        <span class="hint">@T("Check to set acceptance of Marketing cookies as default.")</span>
    </div>
</fieldset>

<fieldset>
    <legend>@T("GDPR Settings")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.DisableCookieGDPRManagement)">@T("Disable Cookie Management according to GDPR")</label>
        @Html.CheckBoxFor(m => m.DisableCookieGDPRManagement)
        <span class="hint">@T("Check to disable cookie management according to GDPR regulations")</span>
    </div>
</fieldset>
