@model Laser.Orchard.CommunicationGateway.CRM.Mailchimp.ViewModels.MailchimpSiteSettingsEdit

<fieldset>
    <div class="form-group">
        @if (!string.IsNullOrWhiteSpace(Model.ApiKey)) {
            <div>@T("Current ApiKey (BASE64):") @Model.ApiKey</div>
        }
        else {
            <div>@T("An ApiKey needs to be set!")</div>
        }
        @Html.LabelFor(m => m.NewApiKey)
        @Html.TextBoxFor(m => m.NewApiKey, new { @class = "text large" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DefaultAudience, T("Default Audience"))
        @Html.TextBoxFor(m => m.DefaultAudience, new { @class = "text large tokenized" })
    </div>
</fieldset>