@model Laser.Orchard.ShortLinks.Models.ShortLinksSettingsPart

<fieldset><a name="shortlinksetting"></a>
    <legend>@T("Short Link Settings")</legend>
    <div class="editor-field">
        @Html.LabelFor(model=>model.DynamicLinkDomain, T("Dynamic link domain"))
        @Html.TextBoxFor(model => model.DynamicLinkDomain, new { @class = "text medium" })
        @Html.ValidationMessageFor(model => model.DynamicLinkDomain)
    </div>
    
    <div class="editor-field">        
        @Html.LabelFor(model => model.GoogleApiKey, T("ApiKey"))
        @Html.TextBoxFor(model => model.GoogleApiKey, new { @class = "text medium" })
        @Html.ValidationMessageFor(model => model.GoogleApiKey)    
        <br /><span>@T("Set <a target=\"_blank\" href=\"{0}\">the domain and the apikey</a> of your application.", "https://tinyurl.com/app/dev") </span>
    </div>

</fieldset>