@using Laser.Orchard.NewsLetters.Services
@model Laser.Orchard.NewsLetters.Models.AnnouncementPart
@{
    Style.Include("newsletter-admin").AtHead();
    INewsletterServices _newsServices;
    WorkContext.TryResolve<INewsletterServices>(out _newsServices);
    var newsList = _newsServices.GetNewsletterDefinition(Orchard.ContentManagement.VersionOptions.Published);
}
<fieldset>
    <legend>@T("Newsletter Announcement")</legend>

    <div class="editor-label">
        @T("Announcement Title")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.AnnouncementTitle, new { @class="text large"})
    </div>

    <div class="editor-label">
        @T("Attached to this Newsletter")
    </div>
    <div class="editor-field">
        @foreach (dynamic news in newsList) { 
            @Html.CheckBox("AnnouncementPart_Newsletters_Ids",
            Model.AttachToNextNewsletterIds != null ? Model.AttachToNextNewsletterIds.Split(',').Contains<string>((string)news.Id.ToString()) : false,
            new { @id = "newsletter-" + news.Id.ToString(), @value = news.Id.ToString() })
            <label for="newsletter-@news.Id.ToString()" class="forcheckbox">@news.TitlePart.Title</label>
        }
    </div>
</fieldset>
