@using Nwazet.Commerce.Models
@{
    var wishListItemId = (int)Model.WishListItemId;
    var wishListId = (int)Model.WishListId;
    var quantityValue = Math.Max((int)Model.MinimumOrderQuantity, 1);
}

@using (Html.BeginFormAntiForgeryPost(
                    Url.Action("AddToCart", "WishLists",
                                new { area = "Nwazet.Commerce" }),
                    FormMethod.Post,
                    new Dictionary<string, object> {
                        {"data-form-role","addtocart" },
                        { "data-call-type", "" },
                        {"enctype", "multipart/form-data"}
                    })) {
    <div class="wishlist-addtocart-button">
        <input name="wishListItemId" value="@wishListItemId" type="hidden" />
        <input name="wishListId" value="@wishListId" type="hidden" />
        <input name="quantity" value="@quantityValue" class="addtocart-quantity" type="hidden" />
        <div data-cart-button-state="button">
            <button type="submit" class="addtocart-fromwishlist-button">@T("Add to cart")</button>
        </div>
        <div data-cart-button-state="spinner" style="display:none"><span>@T("Adding")</span></div>
    </div>
}