@using Contrib.Reviews.Models
@using Orchard.ContentManagement
@using Orchard.Core.Common.Models
@{ 
    //We take the body, the title and the reviews and make dynamic tabs for them
    var contentItem = (ContentItem)Model.ContentItem;
    var title = (string)(Model.ContentItem.TitlePart.Title);
    var reviewsPart = (ReviewsPart)Model.ContentItem.ReviewsPart;
}
<div class="clearfix"> </div>
<div class="additional_info">
    <div class="container">
        <div class="sap_tabs">
            <div id="horizontalTab1" style="display: block; width: 100%; margin: 0px;">
                <ul>
                    <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>@T("Product Information")</span></li>
                    <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>@T("Reviews")</span></li>
                </ul>

                <div class="tab-1 resp-tab-content additional_info_grid" aria-labelledby="tab_item-0">
                    <h3>@title</h3>
                    @Model.Html
                </div>

                <div class="tab-2 resp-tab-content additional_info_grid" aria-labelledby="tab_item-1">
                    @Display.Parts_Product_Reviews_Detail(ReviewsPart: reviewsPart)
                </div>
            </div>

        </div>
        @{ 
            Script.Include("easyResponsiveTabs.js", "easyResponsiveTabs.min.js");
        }
        <script type="text/javascript">
            $(window).load(function () {
                $('#horizontalTab1').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion
					width: 'auto', //auto or any width like 600px
					fit: true   // 100% fit in a container
				});
			});
        </script>
    </div>
</div>