@{
    var productId = (int)Model.ProductId;

    Script.Require("jQuery");
}

@using (Html.BeginFormAntiForgeryPost(
                Url.Action("Add", "ShoppingCart",
                           new { area = "Nwazet.Commerce", id = productId }),
                FormMethod.Post,
                new Dictionary<string, object> {
        {"class", "addtocart"},
        {"data-productid", productId},
        {"data-form-role","addtocart" },
        { "data-call-type", "ajax" },
        {"enctype", "multipart/form-data"}
                })) {
    if (Model.ProductAttributes != null) {
        foreach (var productAttributeShape in Model.ProductAttributes) {
            @Display(productAttributeShape)
        }
    }
    int quantityValue = Model.MinimumOrderQuantity > 1 ? Model.MinimumOrderQuantity : 1;
    <div class="addtocart-quantity-and-button">
        <input name="id" value="@productId" type="hidden" />
        <input name="quantity" value="@quantityValue" class="addtocart-quantity" type="hidden" />
        <div data-cart-button-state="button">
            <p><button type="submit" class="addtocart-button item_add">@T("Add to cart")</button></p>
        </div>
        <div data-cart-button-state="spinner" style="display:none"><span>@T("Adding")</span></div>
    </div>
}