@using Laser.Orchard.Reporting.ViewModels;
@{
    DataReportViewerViewModel dataReportViewerViewModel = Model.Model;
    var data = dataReportViewerViewModel.JsonData;
    string chartContainerId = "chartContainer" + dataReportViewerViewModel.HtmlId; // Model.ContentItem.Id.ToString();
    string chartId = "chart" + dataReportViewerViewModel.HtmlId; //Model.ContentItem.Id.ToString();
    string chartClass = string.IsNullOrEmpty(dataReportViewerViewModel.ChartCssClass) ? "default-chart" : dataReportViewerViewModel.ChartCssClass;
    var additionalChartWidth = dataReportViewerViewModel.AdditionalChartWidth;
}
<div class="chart-container @dataReportViewerViewModel.ContainerCssClass" id="@chartContainerId">
    <input name="reportData" type="hidden" value="@data" />
    <div class="chart @chartClass"  id="@chartId" style="height:300px; width:calc(400px + @(additionalChartWidth)em);"></div>
    @if (dataReportViewerViewModel.Data.Count == 0)
    {
        <h3>@T("There is no data")</h3>
    }
</div>
<script language="javascript" type="text/javascript">
    (function(){
        $('#@chartId').jqplot([@Html.Raw(dataReportViewerViewModel.JsonData)], {
            title: "@dataReportViewerViewModel.ReportTitle",
            seriesColors: @Html.Raw(dataReportViewerViewModel.ColorsArray),
            seriesDefaults: {
                renderer: $.jqplot.PieRenderer,
                rendererOptions: {
                    // By default, labels show the percentage of the slice.
                    showDataLabels: true
                }
            },
            legend: {
                show: true,
                location: 'e'
            }
        });
    })();
</script>
