@using Orchard.Core.Common.Models;

@{
    var blogPosts = Model.ContentItems.ContentItems.Items;
}

<div id="news-home" class="container-fluid">
    <div id="focus" class="row">

        @foreach (var postContent in blogPosts) {

            dynamic post = postContent.ContentItem;

            <div class="col-sm-12 col-md-6 col-news">
                <a class="focus-item news-item" href="@post.AutoroutePart.Path">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-2 text-center home-news-fix-height">
                            @if (post.BlogPost.Image != null) {
                                <img width="450" height="450" src="@Display.ResizeMediaUrl(Width: 450, Height: 450, Mode: "crop", Alignment: "middlecenter", Path: post.BlogPost.Image.MediaParts[0].MediaUrl)" class="img-responsive img-circle wp-post-image" alt="@post.BlogPost.Image.MediaParts[0].Title" />
                            }
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-10 home-news-fix-height">
                            <div class="space-20 visible-xs"></div>
                            <h3 class="focus-item-link news-item-title">@post.TitlePart.Title</h3>
                            <h5 class="news-item-date">@post.CommonPart.CreatedUtc.Date.ToString("dd/MM/yyyy")</h5>
                            <div class="space-10"></div>
                            <p class="news-item-desc">@(post.BlogPost.Sottotitolo != null ? post.BlogPost.Sottotitolo.Value : "")</p>
                        </div>
                        <div class="col-xs-12 text-center">
                            <span class="focus-plus">+</span>
                        </div>
                    </div>
                </a>
                <div class="space-40 visible-xs visible-sm"></div>
            </div>

        }
    </div>
    <div class="news-bottom"></div>
</div>
