@{
    Layout.Title = Model.Title;
    dynamic item = Model.ContentItem;

    Layout.BaseClass = "page page-template page-template-page-" + item.AutoroutePart.DisplayAlias + " navbar-fixed";
}

<div id="intro">
	<canvas id="intro-canvas"></canvas>
	<div class="container container-desc clearfix">
		<div class="col-xs-12 col-sm-6 col-intro-desc">
			<h1 class="handel-got-d title">@Model.Title</h1>
			<h2 class="page-claim">@item.Blog.Sottotitolo.Value</h2>
			<div class="page-desc">
            </div>
		</div>
        
        @if (item.Blog.Gallery.Ids.Length > 0) {
            <div class="col-xs-12 col-sm-6 text-center">
                <img src="@item.Blog.Gallery.FirstMediaUrl"  title="@item.Blog.Gallery.MediaParts[0].Title" alt="@item.Blog.Gallery.MediaParts[0].AlternateText"  class="img-responsive">
            </div>
        }
    </div>
</div>