@model Laser.Orchard.StartupConfig.ColorPicker.ColorPickerField
@using Laser.Orchard.StartupConfig.ColorPicker;
@{ 
    Style.Include("spectrum.css");
    Script.Require("spectrum").AtHead();
    var fieldSettings = Model.PartFieldDefinition.Settings.GetModel<ColorPickerFieldSettings>();
    var colorPickerOptions = "{ showInput:true,showPalette: true,showInitial: true,preferredFormat: 'hex',showButtons: false}";
    if (!string.IsNullOrWhiteSpace(fieldSettings.Options)) {
        colorPickerOptions = fieldSettings.Options;
    }
}
<fieldset>
    <label>@Model.DisplayName</label>
    <input type="hidden" id="@Html.FieldIdFor(m => m.Value)" name="@Html.FieldNameFor(m => m.Value)" value="@Model.Value" />
    <script type="text/javascript">
        $("#@Html.FieldIdFor(m => m.Value)").spectrum(@Html.Raw(colorPickerOptions));
    </script>
    <span class="hint">@fieldSettings.Hint</span>
</fieldset>
