@using Laser.Orchard.NwazetIntegration.ViewModels;
@model CheckoutViewModel
@{

    var title = Layout.Title = T("Checkout: Review Order");
}
<h1>@title</h1>
<div class="ship-errors checkout-errors"></div>
@Html.ValidationSummary()
<div class="cart-summary">
    @Display.CheckoutCartSummary(ViewModel: Model)
</div>
<div class="address-summary">
    @Display.AddressSummaryForm(ViewModel: Model)
</div>
@if (Model.ShippingRequired && Model.SelectedShippingOption != null) {
    <div class="shipping-summary">
        @Display.ShippingSummaryForm(ViewModel: Model)
    </div>
}
@using (Html.BeginFormAntiForgeryPost(
    Url.Action("Review"), FormMethod.Post, new { @id = "review-form" })) {
    @*serialized order data*@
    @Html.HiddenFor(m => m.SerializedAddresses)
    @Html.HiddenFor(m => m.BillAtSameShippingAddress)
    @Html.HiddenFor(m => m.ShippingOption)
    <div class="review-order-notice">
        @T("Take a moment to review your order before moving to payments.")
    </div>
    <fieldset class="order-review">
        <legend>@T("Order summary")</legend>
        <div>
            <div class="row order-review-subtotal">
                <div class="order-review-label">@T("Products")</div>
                <div class="order-review-value">@Model.CurrencyProvider.GetPriceString(Model.ShoppingCart.Subtotal())</div>
            </div>
            @if (Model.ShippingRequired && Model.SelectedShippingOption != null) {
                <div class="row order-review-shipping">
                    <div class="order-review-label">@T("Shipping")</div>
                    <div class="order-review-value">
                        @Model.CurrencyProvider.GetPriceString(Model.SelectedShippingOption.Price)
                    </div>
                </div>
            }
            @foreach (var alteration in Model.ShoppingCart.PriceAlterationAmounts) {

                <div class="row order-review-alterations">
                    <div class="order-review-label">@alteration.Label</div>
                    <div class="order-review-value">
                        @Model.CurrencyProvider.GetPriceString(alteration.Amount)
                    </div>
                </div>
            }
            <div class="row order-review-total">
                <div class="order-review-label">@T("Total")</div>
                <div class="order-review-value">@Model.CurrencyProvider.GetPriceString(Model.GetShopppingTotal())</div>
            </div>
        </div>
    </fieldset>
    <div class="pos-buttons">
        <h2 id="PaymentMethodsTitle">@T("Pay using:")</h2>
        @foreach (var pos in Model.PosServices) {
            <button type="submit"
                    name="SelectedPosService"
                    value="@pos.GetPosName()"
                    style="padding: 10px 10px;">
                @pos.GetPosName()
            </button>
        }
    </div>
}