@model Laser.Orchard.HiddenFields.ViewModels.HiddenStringFieldDriverViewModel

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Value)">
        @Model.Field.DisplayName
    </label>
    @{
        string classS = "text large";
        object tbAttributes;
        if (Model.IsEditAuthorized) {
            if (Model.Settings.Tokenized) {
                classS += " tokenized";
            }
            tbAttributes = new { @class = classS };
        }
        else {
            tbAttributes = new { @class = classS, disabled = true };
        }
    }
     
    @if ((Model.Value??"").IndexOf("\n")>-1) {
        @Html.TextAreaFor(m => m.Value, @tbAttributes)
    }
    else {
        @Html.TextBoxFor(m => m.Value, @tbAttributes)
    }
</fieldset>

@Display.TokenHint()