@using Orchard.Environment.Configuration;
<div class="row">
    <div class="col-12 col-sm-4 col-index">
        @Display(New.PlaceholderLogo())
    </div>

    <div class="col-12 col-sm-8 col-padding-low">
        <h3>@Html.TitleForPage(T("Lost Password").ToString())</h3>
        <p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
        <div class='space-20'></div>
        @using (Html.BeginFormAntiForgeryPost(Url.Action("RequestLostPassword"), FormMethod.Post, new { @class = "form-horizontal" })) {
            @Html.TextBox("username", string.Empty, new { @class = "form-control" })
             @Html.ValidationMessage("username")
            <div class="space-20"></div>
            <input type='submit' class="submit" value='@T("Send Request")'>
        }
    </div>
</div>