@model Proligence.QrCodes.Settings.QrCodeTypePartSettings
<fieldset>
    <div>
        @Html.LabelFor(m => m.Value, T("Value"))
        @Html.TextBoxFor(m => m.Value, new { @class = "textMedium tokenized" })
        @Html.ValidationMessageFor(m => m.Value, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.Size, T("Size (in pixels)"))
        @Html.TextBoxFor(m => m.Size, new { @class = "textMedium" })
        @Html.ValidationMessageFor(m => m.Size, "*")
    </div>
</fieldset>

@Display.TokenHint()

