@using Orchard.Utility.Extensions;
@using Orchard.Mvc.Html;
@using Orchard.ContentManagement;

@{
    var i = 0;
    var firstBlockClass = "fadeFromTop";
    var secondBlockClass = "fadeFromBottom";
    var caption = "caption-r";
   
    using (Script.Foot()) {
        <script type="text/javascript">
		$(function(){
			//Camera Slider
		    jQuery('#camera-wrap-@Model.Id').camera({
				hover: false,
				pagination: false,
				thumbnails: false,
				height: 'auto',
				fx: 'random',
				slideOn: 'prev',
				loader: 'none',
				playPause: false,
				transPeriod: 800
			});
		});

	
		
	
	</script>	
    }
    <!-- BEGIN = Slider Wrapper -->	
    <div class="fluid_container">
        <!-- BEGIN = Camera Slider -->
        <div class="camera_wrap camera_emboss camera_wrap_style" id="camera-wrap-@Model.Id">
            @{
    var indexer = 0;
            }
                @foreach (var item in Model.ContentItems) {
                    <div data-src="@Display.ResizeMediaUrl(Width: 940, Height: 400, Mode: "crop", Alignment: "middlecenter", Path: item.Prodotto.Gallery.MediaParts[0].MediaUrl)">
                        <div class="container">
                            <div class="caption-slide1 @firstBlockClass">
                                <div class="caption-container @caption">
                                    <h1>@item.TitlePart.Title</h1>
                                    <h2>@item.Prodotto.Sottotitolo.Value</h2>
                                    <a class="btn btn-primary btn-large" title="@item.TitlePart.Title" href="@Url.ItemDisplayUrl((ContentItem)item)">+  @T("INFO")
                                    </a>
                                </div>
                            </div>
                            <div class="caption-slide2 @secondBlockClass">
                                <div class="caption-container @caption">
                                    @*                    <img src="@Display.ResizeMediaUrl(Width: 900, Height: 325, Mode: "pad", PadColor: "transparent", Alignment: "middlecenter", Path: item.MediaUrl)" class="caption-head" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                }        </div>
    </div>
    <!-- END = Slider Wrapper -->            
}
