@{
    string name = Model.ContentField.DisplayName;
}

@if (HasText(name) && HasText(Model.Value)) {
    <div class="address-list">
        <ul>
            <li class="address-detail">@Model.Value</li>
            <li class="address-phone">@Model.ContentPart.Telefono.Value</li>
            <li class="address-detail">@Model.ContentPart.Indirizzo2.Value</li>
            <li class="address-phone">@Model.ContentPart.Telefono2.Value</li>
            <li class="address-mail">@Model.ContentPart.Email.Value</li>
        </ul>
    </div>
}