@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme moved to Document.cshtml
    ***************************************************************/


    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass)) {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass)) {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass)) {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/
    WorkContext.Layout.Logo.Add(New.Branding(), "1");
    //WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    //WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    Model.Classes.Add("main-bg");
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
<header id="header" class="navbar navbar-static-top">

    <!-- BEGIN = Navbar Inner -->
    <div class="navbar-inner">

        <!-- BEGIN = Container -->
        <div class="container">

            <!-- Logo -->
            <a class="brand" href="~/">
                <img src="~/themes/proton/styles/images/logo-laser.png" alt="Laser Gruoup" /></a>

            @if (Model.Navigation != null) {
                <!-- BEGIN = Main Navigation -->
                <div id="main-menu">
                    @Zone(Model.Navigation)
                </div>
                <!-- END = Main Navigation -->
            }
        </div>
        <!-- END = Container -->

    </div>
    <!-- END = Navbar Inner -->

</header>
<!-- END = Header -->

@if (Model.Featured != null) {
    <!-- BEGIN = Featured Content -->
    <section id="featured">
        @Zone(Model.Featured)
    </section>
    <!-- END = Featured Content -->
}



<!-- Clear Fix (IMPORTANT!) -->
<div class="clearfix"></div>

@if (Model.InfoBox != null) {
    var InfoBoxSuffix = "";
    if (Model.Featured != null) {
        InfoBoxSuffix = "2";
    }
    <!-- BEGIN = Info Box -->
    <section id="info-box@(InfoBoxSuffix)">
        <!-- BEGIN = Info Box Container -->
        <div class="container">
            <!-- Info Box Content -->
            <div class="info-content">
                @Zone(Model.InfoBox)
            </div>
        </div>
    </section>
    <!-- END = Info Box -->
}

<!-- BEGIN = Breadcrumb -->
@if (Model.Breadcrumb != null) {
    <section id="breadcrumb">
         <div class="container">
            @Zone(Model.Breadcrumb)
        </div>
    </section>
}
<!-- END = Breadcrumb -->

@if (Model.BeforeContent != null) {
    <section id="content-before">
        <div class="row-fluid">
            @Zone(Model.BeforeContent)
        </div>

    </section>
}

<!-- BEGIN = Main Content -->
@if (Model.Messages != null) {
    <section id="sys-messages" class="container">
        <div class="row">
            @Zone(Model.Messages)
        </div>
    </section>
}
@if (Model.Services != null) {
    <section id="services" class="container">
        <!-- BEGIN = Row Wrapper -->
        <div class="row">
            @Zone(Model.Services)
        </div>
        <!-- END = Row Wrapper -->

    </section>
}
@if (Model.Content != null) {
    var spanDim = 12;
    var contatClassSuffix = "-full";
    if (Model.AsideFirst != null) {
        spanDim = spanDim - 4;
        contatClassSuffix = "";
    }
    if (Model.AsideSecond != null) {
        spanDim = spanDim - 4;
        contatClassSuffix = "";
    }
    <section id="content@(contatClassSuffix)" class="container">
        <div class="row">
            @if (Model.AsideFirst != null) {
                <aside class="sidebar span4">
                    @Zone(Model.AsideFirst)
                </aside>
            }
            <div class="span@(spanDim)">
                @Zone(Model.Content)
            </div>
            @if (Model.AsideSecond != null) {
                <aside class="sidebar span4">
                    @Zone(Model.AsideSecond)
                </aside>
            }
        </div>
    </section>
}
@if (Model.AfterContent != null) {
    <section id="content-after" class="container">
        <div class="row">
            @Zone(Model.AfterContent)
        </div>
    </section>
}

<!-- END = Main Content -->
<!-- BEGIN = Footer -->
<footer id="footer">

    <section id="footer-block" class="container">

        <!-- BEGIN = Footer Row Wrapper -->
        <div class="row">
            <div id="footer-quad" class="group">
                @if (Model.FooterQuadFirst != null) {
                    <div id="footer-quad-first" class="span3">
                        @Zone(Model.FooterQuadFirst)
                    </div>
                }
                @if (Model.FooterQuadSecond != null) {
                    <div id="footer-quad-second" class="span3">
                        @Zone(Model.FooterQuadSecond)
                    </div>
                }
                @if (Model.FooterQuadThird != null) {
                    <div id="footer-quad-third" class="span3">
                        @Zone(Model.FooterQuadThird)
                    </div>
                }
                @if (Model.FooterQuadFourth != null) {
                    <div id="footer-quad-fourth" class="span3">
                        @Zone(Model.FooterQuadFourth)
                    </div>
                }
            </div>
        </div>
        <!-- END = Footer Row Wrapper -->

    </section>

    <!-- BEGIN = Footer Copy -->
    <section id="footer-copy">
        @if (Model.Footer != null) {
            <div id="footer-sig" class="container">
                @Zone(Model.Footer)
            </div>
        }
        <div class="container">
            <div id="scrolltop"><a href="#" title="Back To Top">@T("Back To Top")</a></div>
            <p class="copyright pull-left">
                &copy; 2005 - @(DateTime.Now.Year). Laser s.r.l. - Informatica &amp; Servizi - P. IVA 00190840074
            </p>
            <ul class="social-links pull-right">
                <li>
                    <a href="https://www.facebook.com/LaserInformaticaSrl" class="facebook" data-placement="top" data-original-title="@T("Follow Us on Facebook")">@T("Follow Us on Facebook")</a>
                </li>
                <li>
                    <a href="https://twitter.com/LaserMobile?lang=it" class="twitter" data-placement="top" data-original-title="@T("Follow Us on Twitter")">@T("Follow Us on Twitter")</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- END = Footer Copyright -->
</footer>
