@using Orchard.Utility.Extensions
@using Laser.Orchard.ContactForm.ViewModels
@{
    Script.Require("jQuery").AtHead();
    Script.Require("jQueryColorBox").AtHead();
    Style.Require("jQueryColorBox").AtHead();
    Style.Include("ContactForm.css").AtHead();
    const string displayNone = "style=\"display:none\"";
    var contactForm = (ContactFormViewModel)Model.ContactForm;
    var displaySubject = contactForm.ShowSubjectField ? string.Empty : displayNone;
    var displayName = contactForm.ShowNameField ? string.Empty : displayNone;
    var displayAttachmentButton = contactForm.EnableFileUpload ? string.Empty : displayNone;
    var uniqueId = Model.ContentPart.Id;
}
    <h3 class="section-title">@T("GET IN TOUCH")</h3>
    <div id="fields">
        @{using (Html.BeginForm("sendcontactemail", "contactform", new { area = "Laser.Orchard.ContactForm" }, FormMethod.Post, new { @class = "contact-form" })) {
            <div class="control-group">
                <label class="control-label"><strong>@T("Name")</strong> <em>@T("(required)")</em></label>
                <div class="controls">
                    <input class="input-xlarge"  name="Name" type="text" placeholder="@T("Your Name")" id="Name-@uniqueId"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><strong>@T("E-Mail")</strong> <em>@T("(required)")</em></label>
                <div class="controls">
                    <input id="Email-@uniqueId" class="input-xlarge" name="Email" type="text" placeholder="@T("Email Address")" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><strong>@T("Confirm E-Mail")</strong> <em>@T("(required)")</em></label>
                <div class="controls">
                    <input id="ConfirmEmail-@uniqueId" class="input-xlarge" name="ConfirmEmail" type="text" placeholder="@T("Confirm Email Address")" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><strong>@T("Message")</strong> <em>@T("(required)")</em></label>
                <div class="controls">
                    <textarea id="Message-@uniqueId" class="input-xxlarge" name="Message" placeholder="@T("Comments or Inquiry")" cols="25" rows="4"></textarea>
                </div>
            </div>



            <input id="ReturnUrl-@uniqueId" name="ReturnUrl" type="hidden" value="@Context.Request.RawUrl" />
            <input id="Id-@uniqueId" name="Id" type="hidden" value="@uniqueId" />
            <input id="MediaId-@uniqueId" name="MediaId" type="hidden" value="" />
            @Html.AntiForgeryTokenOrchard()
            <input id="attachment_button-@uniqueId" type="button" @Html.Raw(displayAttachmentButton) value="@T("Add attachment")" />
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-large btn-primary" type="submit" name="submit">@T("Send Us A Message")</button>
                </div>
            </div>
          }
        }
    </div>

@using (Script.Head()) {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#attachment_button-@uniqueId').click(function () {
                $.colorbox({ iframe: true, width: "40%", height: "26%", href: "@(Url.Action("Add", "FileUpload", new { Area = "Laser.Orchard.ContactForm" }) + "?ContactFormID=" + uniqueId)", title: "@T("Upload file")" });
            });

            $('#MediaId-@uniqueId').change(function () {
                if ($('#MediaId-@uniqueId').val() != '') {
                        $('#attachment_button-@uniqueId').attr('disabled', 'disabled');
                    }
                });
        });
    </script>
}