@using Laser.Orchard.Highlights.Models
@{
    var item = Model.HighlightsItem;
    var titleTag = Tag(Model, "h4");
    var subtitleTag = Tag(Model, "h5");
    if (item.TitleSize == "Principale") {
        titleTag = Tag(Model, "h1");
        subtitleTag = Tag(Model, "h2");
    } else if (item.TitleSize == "MediaPriorita") {
        titleTag = Tag(Model, "h3");
        subtitleTag = Tag(Model, "h4");
    } else if (item.TitleSize == "BassaPriorita") {
        titleTag = Tag(Model, "h5");
        subtitleTag = Tag(Model, "h6");
    } else if (item.TitleSize == "Titoletto") {
        titleTag = Tag(Model, "h6");
        subtitleTag = Tag(Model, "h7");
    } else if (item.TitleSize == "NessunTitolo") {
        titleTag = Tag(Model, "notitle");
        subtitleTag = Tag(Model, "notitle");
    }
    var divClass = "";
    if (((item.ItemOrder + 1) % 3) == 0) {
        divClass = "last";
    }
}
<div class="span4 @divClass">
    <div class="block" style="text-align: left;">
        <img class="block-circle" src="@Display.ResizeMediaUrl(Width: 50, Height: 50, Mode: "crop", Alignment: "middlecenter", Path: item.Content.HighlightsItem.Background.MediaParts[0].MediaUrl)" alt="Design" style="float: left; margin-right: 15px;">
        <h4 class="block-title" style="margin: 0;">@item.Content.TitlePart.Title</h4>
        <em>@item.SubTitle </em>
        <div style="margin-left: 45px; margin-bottom: 0;">
            @Html.Raw(item.Body)
        </div>
        @if (item.LinkText!=null && item.LinkUrl!=null){
        <div class="caption-r">
            <a href="@item.LinkUrl" target="@(item.LinkTarget!=Laser.Orchard.Highlights.Enums.LinkTargets._modal?item.LinkTarget:"")" class="@(item.LinkTarget==Laser.Orchard.Highlights.Enums.LinkTargets._modal?"media-cbox":"")">@item.LinkText</a>
        </div>
        }
    </div>
</div>

