@if (Model.MenuItems != null)
{
    <ul class="breadcrumb">
        <li><a href="~/">@T("Home")</a></li>

        @foreach (var item in Model.MenuItems)
        {
            bool active = item.Active;
            
            if (!active)
            {
            <li><a href="@item.Url">@T(item.Name)</a></li>
            }
            else
            {
            <li class="active"><a href="@item.Url">@T(item.Name)</a></li>
            }
        }
    </ul>
}