@using Orchard.ContentManagement;
@using Orchard.Widgets.Models;
@{
    var widgetPart = ((IContent)Model.ContentItem).As<WidgetPart>();
    if (widgetPart.Zone == "AsideSecond" || widgetPart.Zone == "AsideFirst") {
        Model.Classes.Add("theme-widget");
    }
    var tag = Tag(Model, "article");
}
@tag.StartElement
@if ((widgetPart.RenderTitle && HasText(widgetPart.Title)) || Model.Header != null) {
    <header>
        @if ((widgetPart.RenderTitle && HasText(widgetPart.Title))) {
            if (widgetPart.Zone == "AsideSecond" || widgetPart.Zone == "AsideFirst") { 
            <h5 class="widget-title">@widgetPart.Title</h5>
            } else {
            <h4>@widgetPart.Title</h4>
            }
        }
        @Display(Model.Header)
    </header>
}
@if (widgetPart.Zone == "AsideSecond" || widgetPart.Zone == "AsideFirst") { 
    <div class="widget-list">@Display(Model.Child)</div>
} else {
    @Display(Model.Child)
}
@if (Model.Footer != null) {
    <footer>
        @Display(Model.Footer)
    </footer>
}
@tag.EndElement