@model Laser.Orchard.Sharing.Models.ShareBarSettingsPart
<fieldset>
    <legend>@T("Content sharing settings")</legend>
    <div>
        @Html.LabelFor(m => m.AddThisAccount, @T("AddThis PubId code"))
        @Html.EditorFor(m => m.AddThisAccount)
        @Html.ValidationMessageFor(m => m.AddThisAccount, "*")
        <span class="hint">@T("PubId is the code that identify your AddThis account, you can find it on https://www.addthis.com/dashboard#dashboard-analytics/ in the GET YOUR CODE tab")</span>
    </div>
</fieldset>