@model Contrib.Widgets.ViewModels.WidgetsContainerSettingsViewModel

<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.UseHierarchicalAssociation)
        @Html.LabelFor(m => m.UseHierarchicalAssociation, T("Use hierarchical association").Text, new { @class = "forcheckbox" })
    </div>
    <div data-controllerid="@Html.FieldIdFor(m => m.UseHierarchicalAssociation)">
        @Html.LabelFor(m => m.HierarchicalAssociationJson, T("Hierarchical association:"))
        @Html.TextAreaFor(m => m.HierarchicalAssociationJson, new { @class = "text large" })
        <span class="hint">@T("Insert the JSON object defining Zones and Widgets. JSON example: [{ \"ZoneName\":\"AsideFirst\",\"Widgets\":[{\"WidgetType\":\"ContentWidget\"}]},{ \"ZoneName\":\"AfterContent\",\"Widgets\":[{\"WidgetType\":\"HtmlWidget\"},{\"WidgetType\":\"TextWidget\"}]}]")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.SelectedZones, T("Allowed zones:"))
        @Html.ListBoxFor(m => m.SelectedZones, new MultiSelectList(Model.Zones), new { style = "display:block;" })
        <span class="hint">@T("Select the zones where the widgets can be placed. If no zone is selected all of them will be available.")</span>
    </div>
    <div style="margin-top:20px;">
        @Html.LabelFor(m => m.SelectedWidgets, T("Allowed widget types:"))
        @Html.ListBoxFor(m => m.SelectedWidgets, new MultiSelectList(Model.Widgets), new { style = "display:block;" })
        <span class="hint">@T("Select which types of widgets can be added to the content. If no widget type is selected all of them will be available.")</span>
    </div>
    <div>
        @Html.CheckBoxFor(m => m.TryToLocalizeItems)
        <label for="@Html.FieldIdFor(m => m.TryToLocalizeItems)" class="forcheckbox">@T("Try to replace selected items with their correct localization.")</label>
        <span class="hint">@T("Check to attempt to replace items selected in this part with their translation in the main ContentItem's culture. This only applies if the main ContentItem has a LocalizationPart.")</span>
    </div>
</fieldset>
