@using Laser.Orchard.NwazetIntegration.Models
@using Orchard.ContentManagement;
@{ 
    var pickupPointParts = (IEnumerable<PickupPointPart>)(Model.PickupPoints);
    var contentManager = (IContentManager)Model.ContentManager;
    var prefix = (string)Model.Prefix;

    // Html Attributes for the radio button used to select the Pickup Point
    var selectedPointInputName = (string)Model.SelectedPointInputName;
    var selectedPointInputId = (string)Model.SelectedPointInputBaseId;
}
@if(pickupPointParts.Any()) {
    var first = true;

    <div class="pickup-point-input-groups">
        
        @foreach(var pickupPointPart in pickupPointParts) {
            var radioId = selectedPointInputId + "_" + pickupPointPart.Id;
            <div class="input-group d-flex justify-content-between align-items-center">
                <label class="input-group-prepend flex-fill"
                     for="@radioId">
                    <div class="input-group-prepend pickup-point-card"
                         id="pickup-point-card-@pickupPointPart.Id">
                        @Display(BuildDisplay(pickupPointPart, "Summary"))
                    </div>
                </label>
                <input type="radio"
                       name="@selectedPointInputName" id="@radioId"
                       value="@pickupPointPart.Id"
                       aria-describedby="pickup-point-card-@pickupPointPart.Id"
                       @if(first) {<text>checked</text>}
                       class=""/>
            </div>
            first = false;
        }
    </div>
}
