@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme moved to Document.cshtml
    ***************************************************************/


    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass)) {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass)) {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass)) {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/
    WorkContext.Layout.Logo.Add(New.Branding(), "1");
    //WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    //WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    Model.Classes.Add("main-bg");
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
<header class="top-header">
     @if (Model.ResponsiveNavigation != null) {  
        @Zone(Model.ResponsiveNavigation)
    }
    <div class="inner">
        @Zone(Model.Logo)
        @if (Model.Navigation != null) {
            @Zone(Model.Navigation)
        }
        <div class="clear"></div>
    </div>
    @if (Model.Header != null) {
        @Zone(Model.Header)
    }
</header>
@if (Model.Featured != null) {
    <div id="layout-featured" class="group">
        @Zone(Model.Featured)
    </div>
}
@if (Model.BeforeMain != null) {
    <div id="layout-before-main" class="group">
        @Zone(Model.BeforeMain)
    </div>
}
<section id="content">
    <div class="ic">@T("More Solutions @@ laser-group.com | laser-group.com")</div>
    <div class="zerogrid">
        <div class="row content-bg">
            @{
                var contentCols = 4;
                if (Model.AsideFirst != null) {
                    contentCols--;
                }
                if (Model.AsideSecond != null) {
                    contentCols--;
                }
            }
            @if (Model.AsideFirst != null) {
                <div class="col-1-4">
                    <div class="wrap-col">
                        <aside id="aside-first" class="aside-first group">
                            @Zone(Model.AsideFirst)
                        </aside>
                    </div>
                </div>
            }
            <div class="col-@contentCols-4">
                <div class="wrap-col">
                    <div id="layout-content" class="group">
                        @if (Model.Messages != null) {
                            <div id="messages">
                                @Zone(Model.Messages)
                            </div>
                        }
                        @if (Model.BeforeContent != null) {
                            <div id="before-content">
                                    @Zone(Model.BeforeContent)
                            </div>
                        }
@* the model content for the page is in the Content zone @ the default position (nothing, zero, zilch) *@
                        @if (Model.Content != null) {
                            <div id="content" class="group">
                                @Zone(Model.Content)
                            </div>
                        }
                        @if (Model.AfterContent != null) {
                            <div id="after-content">
                                @Zone(Model.AfterContent)
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (Model.AsideSecond != null) {
                <div class="col-1-4">
                    <div class="wrap-col">
                        <aside id="aside-second" class="aside-second">
                            @Zone(Model.AsideSecond)
                        </aside>
                    </div>
                </div>
                
            }
        </div>
    </div>
</section>
@if (Model.AfterMain != null) {
    <div id="layout-after-main" class="group">
        @Zone(Model.AfterMain)
    </div>
}

<!-- Tripel -->
@if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null) {
    <div class="zerogrid tripel">
        <div class="row footer-bg">
            <div class="hr-border-2"></div>
            <div class="wrapper">
                @{
    var numTripelFooter = 0;
    if (Model.TripelFirst != null) {
        numTripelFooter++;
    }
    if (Model.TripelSecond != null) {
        numTripelFooter++;
    }
    if (Model.TripelThird != null) {
        numTripelFooter++;
    }
                }

                @if (Model.TripelFirst != null) {
                    <div id="tripel-first" class="col-1-@numTripelFooter">
                        @Zone(Model.TripelFirst)
                    </div>
                }
                @if (Model.TripelSecond != null) {
                    <div id="tripel-second" class="col-1-@numTripelFooter">
                        @Zone(Model.TripelSecond)
                    </div>
                }
                @if (Model.TripelThird != null) {
                    <div id="tripel-third" class="col-1-@numTripelFooter">
                        @Zone(Model.TripelThird)
                    </div>
                }
            </div>
        </div>
    </div>
}

<!-- Footer -->
<footer>
    <div class="zerogrid">
        <div class="row footer-bg">
            <div class="hr-border-2"></div>
            <div class="wrapper">
                <div class="col-1-3">
                    <div class="wrap-col">
                        <div class="copyright">
                            &copy; @DateTime.Today.Year <strong class="footer-logo">@WorkContext.CurrentSite.SiteName</strong>
                            <div>
                                @T("Designed by") by <a rel="nofollow" href="http://www.laser-group.com">laser-group.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2-3">
                    @{
                        var numQuadFooter = 0;
                        if (Model.FooterQuadFirst != null) {
                            numQuadFooter++;
                        }
                        if (Model.FooterQuadSecond != null) {
                            numQuadFooter++;
                        }
                        if (Model.FooterQuadThird != null) {
                            numQuadFooter++;
                        }
                        if (Model.FooterQuadFourth != null) {
                            numQuadFooter++;
                        }
                                
                    }

                    <div class="col-1-@numQuadFooter">
                        <div class="wrap-col">
                            @if (Model.FooterQuadFirst != null) {
                                <div id="footer-quad-first">
                                    @Zone(Model.FooterQuadFirst)
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-1-@numQuadFooter">
                        <div class="wrap-col">
                            @if (Model.FooterQuadSecond != null) {
                                <div id="footer-quad-third">
                                    @Zone(Model.FooterQuadSecond)
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-1-@numQuadFooter">
                        <div class="wrap-col">
                            @if (Model.FooterQuadThird != null) {
                                <div id="footer-quad-third">
                                    @Zone(Model.FooterQuadThird)
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-1-@numQuadFooter">
                        <div class="wrap-col">
                            @if (Model.FooterQuadFourth != null) {
                                <div id="footer-quad-fourth">
                                    @Zone(Model.FooterQuadFourth)
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>



@tag.EndElement