@using Orchard.Utility.Extensions
@using Laser.Orchard.ContactForm.ViewModels
@{
    Script.Require("jQuery").AtHead();
    Script.Require("jQueryColorBox").AtHead();
    Style.Require("jQueryColorBox").AtHead();
    Style.Include("ContactForm.css").AtHead();
    const string displayNone = "style=\"display:none\"";
    var contactForm = (ContactFormViewModel)Model.ContactForm;
    var displaySubject = contactForm.ShowSubjectField ? string.Empty : displayNone;
    var displayName = contactForm.ShowNameField ? string.Empty : displayNone;
    var displayAttachmentButton = contactForm.EnableFileUpload ? string.Empty : displayNone;
    var uniqueId = Model.ContentPart.Id;
    }
@{using (Html.BeginForm("sendcontactemail", "contactform", new { area = "Laser.Orchard.ContactForm" }, FormMethod.Post, new { @class = "contact-form" })) {
        <label @Html.Raw(displayName)>
            <span for="Name">@T("Name")</span>
            <input id="Name-@uniqueId" class="text" name="Name" type="text" placeholder="@T("Your Name")" />
        </label>
        <label class="emailForm email">
            <span for="Email">@T("Email")</span>
            <input id="Email-@uniqueId" class="text medium" name="Email" type="text" placeholder="@T("Email Address")" />
        </label>
        <label class="email">
            <span for="ConfirmEmail">@T("Confirm Email")</span>
            <input id="ConfirmEmail-@uniqueId" class="text medium" name="ConfirmEmail" type="text" placeholder="@T("Confirm Email Address")" />
        </label>
        <label @Html.Raw(displaySubject)>
            <span for="Subject">@T("Subject")</span>
            <input id="Subject-@uniqueId" class="text medium" name="Subject" type="text" placeholder="@T("Subject")" />
        </label>
        <label>
            <span for="Address">@T("Address")</span>
            <input id="Address-@uniqueId" class="text" name="FromNameLocation" type="text" placeholder="@T("Address of the Point of Interest")"/>
        </label>
        <label>
            <span for="Coordinates" class="section-title">@T("Coordinates"):</span>
            <label class="left-distanced">
                <span for="Latitude">@T("Latitude")</span>
                <input id="Latitude-@uniqueId" class="text-small" name="FromLatitude" type="text" />
            </label>
            <label class="left-distanced">
                <span for="Longitude">@T("Longitude")</span>
                <input id="Longitude-@uniqueId" class="text-small" name="FromLongitude" type="text" />
            </label>
        </label>
        <label>
            <span for="Message">@T("Description")</span>
            <textarea id="Message-@uniqueId" class="text" name="Message" placeholder="@T("Description of the Point of Interest")" cols="50" rows="10"></textarea>
        </label>
        <div id="AttachmentSection-@uniqueId" type="hidden" class="attachment">
            <img id="AttachmentPreview-@uniqueId" class="hidden mrg-top-small"></img>
            <label id="AttachmentNameLabel-@uniqueId" class="mrg-top-tiny"></label>
            <br />
        </div>
        <input id="ReturnUrl-@uniqueId" name="ReturnUrl" type="hidden" value="@Context.Request.RawUrl" />
        <input id="Id-@uniqueId" name="Id" type="hidden" value="@uniqueId" />
        <input id="MediaId-@uniqueId" name="MediaId" type="hidden" value="" />
        @Html.AntiForgeryTokenOrchard()
        <div class="btns">
            <input id="attachment_button-@uniqueId" type="button" @Html.Raw(displayAttachmentButton) value="@T("Add attachment")" />
            <input type="submit" value="@T("Send")" />
        </div>
  }
}

@using (Script.Head()) {
     <script type="text/javascript">
         $(document).ready(function () {
             $('#attachment_button-@uniqueId').click(function () {
                 $.colorbox({
                     iframe: true, width: "40%", height: "225px",
                     href: "@(Url.Action("Add", "FileUpload", new { Area = "Laser.Orchard.ContactForm" }) + "?ContactFormID=" + uniqueId)",
                     title: "@T("Upload file")"
                 });
             });

             $('#MediaId-@uniqueId').change(function () {
                 if ($('#MediaId-@uniqueId').val() != '') {
                     $('#attachment_button-@uniqueId').attr('disabled', 'disabled');
                 }
             });
         });
    </script>
}