<form id="contact-form-@Model.Id" class="contact-form" action="@Url.Action("Trigger", "Signal", new { Area = "Laser.Orchard.WebServices" })" method="post">
    <input type="hidden" name="signalName" value="SendPostCard" />
    <input type="hidden"  name="contentId" value="@Model.Id" />
    <input type="hidden"  name="returnUrl" value="@Request.RawUrl" />
    @Html.AntiForgeryToken()
    <div>
        <h3>@T("Send postcard")</h3>
        <h6>@T("Please fill all fields.")</h6>
    </div>
    <label class="name">
        <span>@T("Your Name"):</span>
        <input id="sendername" type="text" name="sendername" placeholder="@T("Your Full Name")" />
    </label>
    <label class="email">
        <span>@T("Send From"):</span>
        <input id="sendfrom" type="email" name="sendfrom" placeholder="@T("Your Valid Email Address")" />
    </label>
    <label class="name">
        <span>@T("Recipient Name"):</span>
        <input id="recipename" type="text" name="recipename" placeholder="@T("Your Friend Name")" />
    </label>
    <label class="email">
        <span>@T("Send To"):</span>
        <input id="sendto" type="email" name="sendto" placeholder="@T("Valid Email Address")" />
    </label>

    <label class="message">
        <span>@T("Message"):</span>
        <textarea id="MessageText" name="MessageText" placeholder="@T("Your Message")"></textarea>
    </label>
    <div class="btns">
	    <a class="button" onClick="document.getElementById('contact-form-@Model.Id').reset()">@T("Clear")</a>
	    <a class="button" onClick="document.getElementById('contact-form-@Model.Id').submit()">@T("Send")</a> 
	</div>
    @*<label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="@T("Send")" />
    </label>*@
</form>
