@model Laser.Orchard.StartupConfig.Models.JsonDataTableFieldSettings
<fieldset>
    <legend></legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.ColumnsDefinition)">@T("Columns Definition")</label>
        @Html.TextAreaFor(m => m.ColumnsDefinition, new { @class = "text large tokenized" })
        <span class="hint">@T("Columns definition of the bootstrap-table as a json array. Example: [{field:'name',title:'Name'},{field:'description',title:'Description'}]")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.MaxRows)">@T("Max Number of Rows")</label>
        @Html.TextBoxFor(m => m.MaxRows, new { @class = "text large tokenized", @type = "number" })
        <span class="hint">@T("Limit number of rows in the table. 0 means no limit.")</span>
    </div>
</fieldset>
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.Hint)">@T("Help text")</label>
        @Html.TextAreaFor(m => m.Hint, new { @class = "text medium", rows = "5" })
        <span class="hint">@T("The help text is written under the field when the user is entering a value.")</span>
        @Html.ValidationMessageFor(m => m.Hint)
    </div>
</fieldset>
@Display.TokenHint()