@using Laser.Orchard.NwazetIntegration.Models;
@helper DrawAddress(AddressRecord address) {
    <div class="address-record">
        <div class="address-info">
            <div class="address-record-honorific">
                @address.Honorific
            </div>
            <div class="address-record-firstname">
                @address.FirstName
            </div>
            <div class="address-record-lastname">
                @address.LastName
            </div>
            <div class="address-record-company">
                @address.Company
            </div>
            <div class="address-record-address">
                @address.Address1
            </div>
            <div class="address-record-address">
                @address.Address2
            </div>
            <div class="address-record-city">
                @address.City
            </div>
            <div class="address-record-province">
                @address.Province
            </div>
            <div class="address-record-province">
                @address.PostalCode
            </div>
            <div class="address-record-country">
                @address.Country
            </div>
        </div>
        <div class="address-actions">
            @Html.ActionLink(T("Delete").Text, "Delete", "Addresses",
                new { area = "Laser.Orchard.NwazetIntegration" },
                new { itemprop = "RemoveUrl UnsafeUrl" })
        </div>
    </div>
}

<fieldset class="actions">

    @Html.ActionLink(T("Add Address").Text, "Create", "Addresses",
        new { area = "Laser.Orchard.NwazetIntegration" })
</fieldset>
<fieldset class="contentItems bulk-items">
    <legend>@T("Shipping Addresses")</legend>
    @foreach (var address in Model.ShippingAddresses) {
        @DrawAddress(address)
    }
</fieldset>
<fieldset class="contentItems bulk-items">
    <legend>@T("Billing Addresses")</legend>
    @foreach (var address in Model.BillingAddresses) {
        @DrawAddress(address)
    }
</fieldset>