@model Laser.Orchard.Translator.ViewModels.TranslatorViewModel

@using Laser.Orchard.Translator.Permissions;

@{
    Script.Require("jsTreeGrid").AtHead();

    Style.Require("FontAwesome");
    Style.Require("jsTree_Default").AtHead();
    Style.Require("Laser.Orchard.Translator");

    Layout.Title = T("Translator").ToString();

    var authorized = AuthorizedFor(TranslatorPermission.ManageTranslations);
    var displayAdvancedButtons = authorized ? string.Empty : "display:none";

    var modifiedFolderName = "";
    if (!string.IsNullOrWhiteSpace(Model.selectedFolderName)) {
        modifiedFolderName = Model.selectedFolderName.Replace(".", "-");
    }

    var CultureList = Model.CultureList.ToList();
    CultureList.Insert(0, "");
}

<fieldset>
    <legend>@T("Translation Status")</legend>
    <div>
        <div id="translation-tree-lang-selector">
            <label>@T("Language")</label>
            @Html.DropDownList("SelectLanguage", new SelectList(CultureList, Model.selectedCulture))
        </div>
        <div id="translation-tree-legend">
            <label>@T("Legend")</label>
            <div class="jstree-default translation-tree-elem">
                <span class="translation-tree-legend-desc">@T("Deprecated")</span>
                <i class="translation-tree-legend-icon fa fa-times"></i>
                <span class="translation-tree-legend-desc">@T("Used")</span>
                <i class="translation-tree-legend-icon jstree-icon jstree-themeicon"></i>
            </div>
        </div>
    </div>
    <div id="translation-tree-choice-message">
        <h4>@T("Please select a language")</h4>
    </div>
    <div id="translation-tree-load"></div>
    <div id="folderTree"></div>
</fieldset>

@{using (Html.BeginForm("Index",
                        "Translator",
                         new { area = "Laser.Orchard.Translator" },
                         FormMethod.Post,
                         new { id = "showDetailsForm", style = "display:none" }))
  {
    @Html.AntiForgeryTokenOrchard()
    <input id="language" name="Language" type="hidden" />
    <input id="folderName" name="FolderName" type="hidden" />
    <input id="folderType" name="FolderType" type="hidden" />
    <input id="showTranslator" class="button" type="submit" value="@T("Show Details")" />
  }
}

<fieldset style="margin-top:10px; @Html.Raw(displayAdvancedButtons)">
    <legend style="padding-bottom: 5px;">@T("Advanced Operations")</legend>

    @{using (Html.BeginForm("ImportTranslations", "ImportExport", new { area = "Laser.Orchard.Translator" }, FormMethod.Post, new { id = "importForm", style = "display:inline;" }))
      {
        @Html.AntiForgeryTokenOrchard()
        <input id="importTranslations" class="button" type="submit" value="@T("Import Translations")" />
      }
    }
    <a class="button" href="@Url.Action("ExportTranslations", "ImportExport")">@T("Export Translations")</a>
</fieldset>

@{
    using (Script.Foot())
    {
    <script type="text/javascript">
        $(function () {
            var $loading = $('#translation-tree-load').hide();
            $(document)
                .ajaxStart(function () {
                    $loading.show();
            })
                .ajaxStop(function () {
                    if ($('#SelectLanguage').val() != '')
                        $('#translation-tree-choice-message').hide();
                    
                    $loading.hide();
            });

            $('#SelectLanguage').change(function () {
                $.getJSON('@Url.Action("CreateJsonForTree", "TranslatorTree")', { language: $(this).val() }, function (response) {
                    var tree = $.jstree.reference('#folderTree');
                    if (tree != null) tree.destroy();
                    $('#folderTree').jstree({
                        "core": {
                            "data": response,
                            "themes": { "dots": false }
                        },
                        "types": {
                            "deprecated": { "icon": "fa fa-times" }
                        },
                        "plugins": ["grid", "types"],
                        "grid": {
                            columns: [
                                { width: "auto" },
                                { width: "auto", value: "percent" }
                            ]
                        }
                    });

                    $('#folderTree').on('select_node.jstree', function () {
                        $('#folderName').val($('#folderTree').jstree().get_selected(true)[0].text);
                        $('#folderType').val($('#folderTree').jstree().get_selected(true)[0].data.type);
                    });
                })

                if ($(this).val() != '') {
                    $('#showDetailsForm').show();
                    $('#language').val($(this).val());
                }
                else {
                    $('#showDetailsForm').hide();
                    $('#translation-tree-choice-message').show();
                }
            });

            if ($('#SelectLanguage').val() != '') {
                $('#SelectLanguage').trigger('change');
            }

            $('#folderTree').bind("loaded.jstree", function (e, data) {
                if ('@string.IsNullOrWhiteSpace(Model.selectedFolderName)' == 'False' && '@string.IsNullOrWhiteSpace(Model.selectedFolderType)' == 'False')
                    $('#folderTree').jstree("select_node", '#translatortree-child-@modifiedFolderName');
            })

            $('#showDetailsForm').submit(function () {
                var selectedNodes = $('#folderTree').jstree().get_selected(true);

                if (selectedNodes.length == 0 || selectedNodes[0].parents.length < 2)
                {
                    alert("@T("Please select a module, a theme or a tenant.")");
                    return false;
                }

                if (selectedNodes[0].data.to_translate == 'false')
                {
                    alert("@T("Nothing to translate for this element.")");
                    return false;
                }
            });

            $('#importForm').submit(function () { return confirm("@T("This operation will replace all current translations with the translations currently contained in the .po files. Do You want to continue?")"); });

            $('#folderTree').on('dblclick','.jstree-anchor', function (e) {
                $('#showDetailsForm').submit();
            });
        });
    </script>
    }
}