@model Laser.Orchard.PaymentGateway.ViewModels.PaymentVM
<div class="ship">
    <h2>@T("Payment details")</h2><br /><br />
    @T("POS"): @Model.Record.PosName<br />
    @T("Reason"): @Model.Record.Reason<br />
    @T("Amount"): @Model.Record.Amount.ToString("0.00") @Model.Record.Currency<br />
    @T("Date"): @Model.Record.UpdateDate.ToString("yyyy-MM-dd HH:mm")<br />

    @if (Model.Record.Success) {
        <text>@T("Outcome"): @T("Succeeded")<br />
        @T("Transacion ID"): @Model.Record.TransactionId<br /></text>
    }
    else {
        <text>@T("Outcome"): <span style="color:red;font-weight:700">@T("Failed")</span><br />
        @T("Error"): @Model.Record.Error<br />
        @T("Additional informations"): @Model.Record.Info<br />
        @{
            var query = string.Format("reason={0}&amount={1}&currency={2}&itemId={3}", Url.Encode(Model.Record.Reason), Convert.ToString(Model.Record.Amount, System.Globalization.CultureInfo.InvariantCulture), Url.Encode(Model.Record.Currency), Model.Record.ContentItemId);
            var payUrl = Url.Action("Pay", "Payment", new { area = "Laser.Orchard.PaymentGateway" }) + "?" + query;
        }
        <br />

        <div class="actions">


            @Html.Link(T("Back to payment page").ToString(), payUrl, new { @class = "back-button" }) <br />
        </div>
        </text>
            }
    <br />
