@model Laser.Orchard.Reporting.ViewModels.ReportDisplayViewModel
@using Orchard.ContentManagement
@{
    Style.Include("jquery-ui.css");
    Style.Include("jquery.jqplot.css");
    Style.Include("reporting.css");
    Style.Include("report.print.css").Attributes.Add("media", "print");
    Style.Include("//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css");
    Script.Require("jQueryUI_Widget").AtHead();
    Script.Require("jqplot").AtHead();
    Script.Require("barjqplot").AtHead();
    Script.Require("categoryAxisjqplot").AtHead();
    Script.Require("pointLabelsjqplot").AtHead();
    Script.Require("canvasTextjqplot").AtHead();
    Script.Require("canvasAxisTickjqplot").AtHead();
    Script.Require("piejqplot").AtHead();
    Script.Require("donutRendererjqplot").AtHead();
    Script.Require("bootstrap-table").AtHead();
    IContentManager contentManager = null;
    WorkContext.TryResolve<IContentManager>(out contentManager);
}
<p class="breadcrumb"><a href="@Url.Action("ShowReports", "Report", new { area = "Laser.Orchard.Reporting" })">@T("Reports List")</a> &#62; @T("Execute report")</p>
@if (Model.FilterContent != null) {
    using (Html.BeginFormAntiForgeryPost(Url.Action("DisplayChart"))) {
        <div id="reportFilters">
            <input type="hidden" name="id" value="@Model.Id" />
            @Display(contentManager.BuildEditor(Model.FilterContent))
            <button class="primaryAction" type="button" value="Refresh" id="btnRefresh">@T("Refresh")</button>
            <button class="primaryAction" type="button" value="Print" id="btnPrint">@T("Print")</button>
            @if (AuthorizedFor(Laser.Orchard.Reporting.Security.Permissions.DownloadReportData)) {
                <button class="primaryAction" type="submit" formaction="@Url.Action("DownloadChart")" value="Download" id="btnDownload">@T("Download")</button>
            }
        </div>
    }
    <div id="divReportViewer"></div>
    using (Script.Foot()) {
        <script type="text/javascript">
        $(function () {
            $("#reportFilters button[value='submit.Save']").hide();
            $("#btnPrint").click(function () { window.print(); });
            var theForm = $("#reportFilters").parent();
            $("#btnRefresh").click(function () {
                $("#divReportViewer").html("<label>@T("Loading report...")</label>");
                $.post(theForm.attr("action"), theForm.serialize(), function (data) {
                    $("#divReportViewer").html(data);
                });
            });
        });
        </script>
    }
} else {
    <button class="primaryAction" type="button" value="Print" id="btnPrint">@T("Print")</button>
    if (AuthorizedFor(Laser.Orchard.Reporting.Security.Permissions.DownloadReportData)) {
        <button class="primaryAction" type="button" value="Download" id="btnDownload">@T("Download")</button>
    }
    @Display(BuildDisplay(Model.ViewerContent, "Detail"))
    <script type="text/javascript">
        $(function () {
            $("#btnPrint").click(function () { window.print(); });
            var theForm = $("#reportFilters").parent();
            $("#btnDownload").click(function () {
                window.location.href = "@Url.Action("DownloadChart", new { id = Model.Id })";
            });
        });
    </script>
}
