@model Laser.Orchard.Reporting.ViewModels.ShowReportsViewModel
<h1>@Html.TitleForPage(T("Execute Data Reports").ToString())</h1>
@using (Html.BeginForm("ShowReports", "Report", FormMethod.Get)) {
    @Html.AntiForgeryToken()
    @Html.LabelFor(m => m.TitleFilter)
    @Html.TextBoxFor(m => m.TitleFilter)
    <button type="submit">@T("Apply Filter")</button>
    <div style="margin-top:0.5em;margin-bottom:0.5em">
        @foreach (var ct in Model.ContentTypes) {
            <a class="button" href="@(Model.BaseUrlForCreate + ct.Name)">@T("Create") @ct.DisplayName</a>
        }
    </div>
}
<table class="items" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th scope="col">@T("Name")</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.Reports) {
            <tr>
                <td><a href="@Url.Action("Display", "Report", new { area = "Laser.Orchard.Reporting", Id = report.Id })">@report.Title</a></td>
                @if (report.ContentItem != null) {
                    <td><a href="@Url.ItemEditUrl(report.ContentItem)">@T("Edit")</a></td>
                }
                else {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
@Display(Model.Pager)