@model Laser.Orchard.PaymentGestPay.Models.PaymentGestPaySettingsPart 

@helper FullActionUrl(string aName) {
    string area = Laser.Orchard.PaymentGestPay.Extensions.Constants.LocalArea;
    string sName = WorkContext.CurrentSite.SiteName;
    string bUrl = WorkContext.CurrentSite.BaseUrl;
    string aPath = Url.Action(aName, "Transactions", new { Area = area });
    int cut = aPath.ToUpperInvariant().IndexOf(sName.ToUpperInvariant()) - 1;
    string fUrl = bUrl + aPath.Substring(cut);
    @fUrl
}

@helper GetServerIp(){
    string sIP = "";
    try {
        HttpWebRequest req = (HttpWebRequest)WebRequest.Create("https://api.ipify.org");
        WebResponse resp = req.GetResponse();
        sIP = new StreamReader(resp.GetResponseStream()).ReadToEnd();
    } catch (Exception) {
        sIP = T("It was impossible to verify the server's IP.").Text;
    }
    @sIP
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.TextBoxFor(m => m.GestPayShopLogin, new { placeholder = T("GestPay Shop Login"), @class = "text medium" })
    <span class="hint">@T("Insert your GestPay Shop Login.")</span>
    
     @Html.CheckBoxFor(m => m.UseTestEnvironment)
    <label for="@Html.FieldIdFor(m => m.UseTestEnvironment)" class="forcheckbox">@T("Use test environment.")</label>
    <span class="hint">@T("Selecting this checkbox will mean that we are using GestPay's test environment. Payments there are fake.")</span>
    
    <fieldset>
        <legend>@T("GestPay back-office settings.")</legend>
        <p>@T("You should insert this information in the corresponding sections of GestPay's back-office, under the configuration tab for your shop.")</p>
        <br /><label>@T("Allowed IP")</label> @GetServerIp()
        <br /><label>@T("Positive answer URL: ")</label> @FullActionUrl("GestPaySuccess")
        <br /><label>@T("Negative answer URL: ")</label> @FullActionUrl("GestPayFailure")
        <br /><label>@T("Server to Server URL: ")</label> @FullActionUrl("GestPayS2SEndpoint")

    </fieldset>
    
    <div class="box-footer align-right padding-right-35">
        <button id="saveSettings" type="submit" name="submit.SaveSettings" value="yes please">@T("Save")</button>
    </div>
}