@using Laser.Orchard.Cookies;

@model Laser.Orchard.NwazetIntegration.Models.EcommerceInvoiceSettingsPart

<fieldset>
    <div class="box box-default">
        <div class="box-body">
            <div class="form-group">
                <label>@T("Ecommerce Invoice settings")</label>
                <div>
                    <div class="invoice-request">
                        @Html.CheckBoxFor(m => m.EnableInvoiceRequest)
                        @Html.LabelFor(m => m.EnableInvoiceRequest, T("Enable Invoice Request").Text, new { @class = "forcheckbox" })
                    </div>
                    <span class="hint">@T("Choose whether the customer can request an invoice")</span>
                </div>
                <div data-controllerid="@Html.FieldIdFor(m => m.EnableInvoiceRequest)">
                    <div class="invoice-request-force-choice">
                        @Html.CheckBoxFor(m => m.InvoiceRequestForceChoice)
                        @Html.LabelFor(m => m.InvoiceRequestForceChoice, T("Force the choice").Text, new { @class = "forcheckbox" })
                    </div>
                    <span class="hint">@T("Force the customer choice")</span>
                </div>
                <div data-controllerid="@Html.FieldIdFor(m => m.InvoiceRequestForceChoice)">
                    <div class="invoice-request-default-value">
                        @Html.CheckBoxFor(m => m.InvoiceRequestDefaultValue)
                        @Html.LabelFor(m => m.InvoiceRequestDefaultValue, T("Check to set the default value to true").Text, new { @class = "forcheckbox" })
                    </div>
                    <span class="hint">@T("Default value")</span>
                </div>
            </div>
        </div>
    </div>
</fieldset>