@using Laser.Orchard.PaymentGateway.Models
@using Laser.Orchard.PaymentGateway.Providers
@using Orchard.ContentManagement
@using System.Globalization

@model Laser.Orchard.NwazetIntegration.ViewModels.PaymentInfoViewModel

@{
    // I need to check if my payment comes from a Custom Pos, in order to show the button to edit payment transaction id
    var canEditTransactionId = false;
    IList<ICustomPosProvider> customProviders;
    IPaymentService paymentService = WorkContext.Resolve<IPaymentService>();
    PaymentRecord record = paymentService.GetPaymentByTransactionId(Model.TransactionId);
    var posName = Model.PosName;
    WorkContext.TryResolve<IList<ICustomPosProvider>>(out customProviders);
    if (customProviders != null && record != null) {
        var pos = customProviders
            .Select(cp => cp.GetPosName(record))
            .FirstOrDefault(s => !string.IsNullOrWhiteSpace(s));
        if (pos != null) {
            posName = pos;
            canEditTransactionId = true;
        }
    }
}

<div class="order-editor">
    <fieldset class="payment-info">
        <legend>@T("Payment Info"):</legend>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td width="20%">@T("POS")</td>
                    <td><span>@posName</span></td>
                </tr>
                <tr>
                    <td width="20%">@T("Reason")</td>
                    <td><span>@Model.Reason</span></td>
                </tr>
                <tr>
                    <td width="20%">@T("Amount")</td>
                    <td><span>@string.Format("{0} {1}", Model.Amount.ToString("0.00", CultureInfo.InvariantCulture), Model.Currency)</span></td>
                </tr>
                <tr>
                    <td width="20%">@T("Date")</td>
                    <td><span>@Model.UpdateDate.ToString("yyyy-MM-dd HH:mm")</span></td>
                </tr>
                @if (Model.Success) {
                    <tr>
                        <td width="20%">@T("Outcome")</td>
                        @if (string.IsNullOrWhiteSpace(Model.TransactionId)) {
                            <td><span>@T("Waiting for transaction info")</span></td>
                        } else {
                            <td><span>@T("Succeeded")</span></td>
                        }
                    </tr>
                    <tr>
                        <td width="20%">@T("Transaction ID")</td>
                        <td>
                            @Html.HiddenFor(m => m.EditTransactionId)
                            <span id="transactionIdSpan">@Model.TransactionId</span>
                            @if (canEditTransactionId) {
                                @Html.TextBoxFor(m => m.TransactionId, new { style = "display: none; width: 250px;" })
                                <button id="enable-edit" name="enableEdit" class="edit-button link">
                                    @T("Edit")
                                </button>
                            }
                        </td>
                    </tr>
                } else {
                    if (string.IsNullOrWhiteSpace(Model.Error) && string.IsNullOrWhiteSpace(Model.TransactionId)) {
                        <tr>
                            <td width="20%">@T("Outcome")</td>
                            <td><span>@T("Waiting for payment")</span></td>
                        </tr>
                    } else {
                        <tr>
                            <td width="20%">@T("Outcome")</td>
                            <td><span>@T("Failed")</span></td>
                        </tr>
                        <tr>
                            <td width="20%">@T("Error")</td>
                            <td><span>@Model.Error</span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </fieldset>
</div>

@using (Script.Foot()) {
    if (canEditTransactionId) {
        <script type="text/javascript">
        $(document).ready(function () {
            $('#enable-edit').click(function (e) {
                e.preventDefault();
                $('#transactionIdSpan').hide();
                $('#enable-edit').hide();
                $("#@Html.FieldIdFor(m => m.EditTransactionId)").val(true);
                $("#@Html.FieldIdFor(m => m.TransactionId)").show();
            });
        });
        </script>
    }
}