@using Laser.Orchard.NwazetIntegration.ViewModels
@model TerritoryAdministrativeTypeEditViewModel

<div class="form-group">
    @Html.LabelFor(m => m.AdministrativeType, T("Administrative Type for this territory"))
    @Html.DropDownListFor(m => m.AdministrativeType,
        Model.AdministrativeTypes,
        htmlAttributes: new { @class="form-control" })
</div>

<div class="form-group">
    @Html.CheckBoxFor(m => m.HasCities)
    @Html.LabelFor(m => m.HasCities, T("Contains cities").Text, htmlAttributes: new { @class = "forcheckbox" })
</div>
<div class="form-group">
    @Html.CheckBoxFor(m => m.HasProvinces)
    @Html.LabelFor(m => m.HasProvinces, T("Contains provinces").Text, htmlAttributes: new { @class = "forcheckbox" })
</div>