@model Orchard.Captcha.Models.CaptchaSettingsPart

<fieldset>
    <legend>@T("Captcha")</legend>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.PublicKey)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PublicKey, new { @class = "text medium" })
        @Html.ValidationMessageFor(model => model.PublicKey)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PrivateKey)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PrivateKey, new { @class = "text medium" })
        @Html.ValidationMessageFor(model => model.PrivateKey)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Theme)
    </div>
    <div class="editor-field">
        @*@Html.TextBoxFor(model => model.Theme)*@
        @*@Html.ValidationMessageFor(model => model.Theme)*@
        @Html.DropDownListFor(model => model.Theme, new SelectList(Enum.GetNames(typeof(Orchard.Captcha.Themes)), Model.Theme))
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CustomCaptchaMarkup)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.CustomCaptchaMarkup)
        @Html.ValidationMessageFor(model => model.CustomCaptchaMarkup)
    </div>

</fieldset>