@model Laser.Orchard.ShareLink.PartSettings.ShareLinkPartSettingVM
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.SharedLink)" >@T("Link") </label>
        @Html.TextBoxFor(m => m.SharedLink, new { @class = "text medium tokenized" })
        <span class="hint">@T("Link to share")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ShowLinkChoise)" >@T("Show Link Choise") </label>
        @Html.EditorFor(m => m.ShowLinkChoise)
        <span class="hint">@T("Enable user to select a Link")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.SharedBody)">@T("Description") </label>
        @Html.TextAreaFor(m => m.SharedBody, new { @class = "text medium tokenized", rows = "5" })
        <span class="hint">@T("Used only for Open Graph - Text to Share")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ShowBodyChoise)">@T("Show Description Choise") </label>
        @Html.EditorFor(m => m.ShowBodyChoise)
        <span class="hint">@T("Enable user to select a Description")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.SharedText)" >@T("Text") </label>
        @Html.TextAreaFor(m => m.SharedText, new { @class = "text medium tokenized", rows = "5" })
        <span class="hint">@T("Text to Share")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ShowTextChoise)" >@T("Show Text Choise") </label>
        @Html.EditorFor(m => m.ShowTextChoise)
        <span class="hint">@T("Enable user to select a Text to share")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.SharedImage)" >@T("Picture") </label>
        @Html.TextBoxFor(m => m.SharedImage, new { @class = "text medium tokenized", rows = "5" })
        <span class="hint">@T("Picture to Share: use tokens to define the MediaLibraryPickerField to use as source list.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ShowImageChoise)" >@T("Show Image Choise") </label>
        @Html.EditorFor(m => m.ShowImageChoise)
        <span class="hint">@T("Enable user to select a picture")</span>
    </div>

    @Display.TokenHint()
</fieldset>