@using Laser.Orchard.Commons.Helpers

@model Laser.Orchard.PaymentGateway.Models.CustomPosSettings

@{
    MvcHtmlString posBlock = Html.UniqueClientId("CustomPos");
    var divId = "cp_" + posBlock;
}

<div class="j_custompos" id="@divId">
    @Html.HiddenFor(m => m.Delete, new { @class = "ph-mark-for-delete", @id = "delete_" + @divId })
    <fieldset>
        <div>
            <label for="@Html.FieldIdFor(m => m.Name)">@T("Pos Name:")</label>
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.Order)">@T("Order:")</label>
            @Html.TextBoxFor(m => m.Order)
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.ShapeName)">@T("Shape Name:")</label>
            @Html.TextBoxFor(m => m.ShapeName)
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.OrderMessage)">@T("Order Message:")</label>
            @Html.TextBoxFor(m => m.OrderMessage)
        </div>
        <div>
            @Html.LinkToRemoveNestedForm("<i class=\"fa fa-times\" style=\"color: red\"></i> " + T(" Remove this custom pos").ToString(), ".j_custompos", "input.ph-mark-for-delete")
        </div>
    </fieldset>
</div>