@using Laser.Orchard.Commons.Helpers
@using Laser.Orchard.PaymentGateway.Services

@model Laser.Orchard.PaymentGateway.Models.CustomPosSettings

@{
    var _posService = WorkContext.Resolve<CustomPosService>();

    MvcHtmlString posBlock = Html.UniqueClientId("CustomPos");
    var divId = "cp_" + posBlock;
}

<div class="j_custompos" id="@divId">
    @Html.HiddenFor(m => m.Delete, new { @class = "ph-mark-for-delete", @id = "delete_" + @divId })
    <fieldset>
        <div>
            <label for="@Html.FieldIdFor(m => m.ProviderName)">@T("Pos Provider:")</label>
            @Html.DropDownListFor(m => m.ProviderName, _posService.GetCustomPosProviders(Model.ProviderName))
            <span class="hint">@T("The CustomPosProvider to use for action execution and shape generation")</span>
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.Name)">@T("Pos Name:")</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "text small" })
            <span class="hint">@T("The name of the custom payment method")</span>
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.Order)">@T("Order:")</label>
            @Html.TextBoxFor(m => m.Order, new { @class = "text small" })
            <span class="hint">@T("The order in which payment buttons will be rendered during the checkout step")</span>
        </div>
        <div>
            @Html.LinkToRemoveNestedForm("<i class=\"fa fa-times\" style=\"color: red\"></i> " + T(" Remove this custom pos").ToString(), ".j_custompos", "input.ph-mark-for-delete")
        </div>
    </fieldset>
</div>