@using Laser.Orchard.Commons.Helpers;
@using Laser.Orchard.PaymentGateway.Services;
@using Laser.Orchard.PaymentGateway.Providers;
@using System.Collections.Generic;

@model Laser.Orchard.PaymentGateway.Models.CustomPosSettings

@{
    var _posService = WorkContext.Resolve<CustomPosService>();
   
    MvcHtmlString posBlock = Html.UniqueClientId("CustomPos");
    var divId = "cp_" + posBlock;

    var posName = Model.Name;
    var alternateName = string.Empty;
    if (!string.IsNullOrWhiteSpace(posName)) {
        alternateName = posName.Trim()
            .Replace(" ", "")
            .Replace(".", "_")
            .Replace("-", "__");

        // Remove invalid characters from the resulting string
        var invalidChars = Path.GetInvalidFileNameChars();
        foreach (var c in invalidChars) {
            alternateName = alternateName.Replace(c.ToString(), "");
        }

        // Add provider TechnicalName as a prefix.
        if (!string.IsNullOrWhiteSpace(Model.ProviderName)) {
            alternateName = Model.ProviderName + "-" + alternateName;
        }
    }
}

<div class="j_custompos" id="@divId">
    @Html.HiddenFor(m => m.Delete, new { @class = "ph-mark-for-delete", @id = "delete_" + @divId })
    <fieldset>
        <div>
            <label for="@Html.FieldIdFor(m => m.ProviderName)">@T("Pos Provider:")</label>
            @Html.DropDownListFor(m => m.ProviderName, _posService.GetCustomPosProviders(Model.ProviderName))
            <span class="hint">@T("The CustomPosProvider to use for action execution and shape generation")</span>
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.Name)">@T("Pos Name:")</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "text small" })
            <span class="hint">@T("The name of the custom payment method")</span>
            @if (!string.IsNullOrWhiteSpace(alternateName)) {
                <span class="hint">@T("Alternate name: {0}", alternateName)</span>
            }
        </div>
        <div>
            <label for="@Html.FieldIdFor(m => m.Order)">@T("Order:")</label>
            @Html.TextBoxFor(m => m.Order, new { @class = "text small" })
            <span class="hint">@T("The order in which payment buttons will be rendered during the checkout step")</span>
        </div>
        <div>
            @Html.LinkToRemoveNestedForm("<i class=\"fa fa-times\" style=\"color: red\"></i> " + T(" Remove this custom pos").ToString(), ".j_custompos", "input.ph-mark-for-delete")
        </div>
    </fieldset>
</div>
