@model Laser.Orchard.Cookies.ViewModels.CookieLawEditModel

@{
    var settings = Model.CookieSettings;
 }

<legend>@T("CookieLaw Settings")</legend>
<fieldset class="analytics">
    <div>
        <legend style="margin-top: 30px; margin-bottom: 10px;">Messages</legend>
        <div>
            <label for="CookieSettings_cookieTitle">@T("Cookie Banner Title")</label>
            @Html.TextBoxFor(m => m.CookieLaw.cookieTitle, new { @class = "text medium" })
            <span class="hint">@T("Title of the cookie banner.")</span>
        </div>
        <div>
            <label for="CookieSettings_cookieMessage">@T("Cookie Banner Message")</label>
            @Html.TextAreaFor(m => m.CookieLaw.cookieMessage, new { @class = "text medium" })
            <span class="hint">@T("Message of the cookie banner.")</span>
        </div>
        <legend style="margin-top: 20px; margin-bottom: 10px;">Links</legend>
        <div>
            <label for="CookieSettings_cookiePolicyLink">@T("Your privacy policy / Cookie policy link")</label>
            @Html.TextBoxFor(m => m.CookieLaw.cookiePolicyLink, new { @class = "text medium" })
        </div>
        <div>
            <label for="CookieSettings_cookiePolicyPageMessage">@T("Text of your privacy policy / Cookie policy link")</label>
            @Html.TextBoxFor(m => m.CookieLaw.cookiePolicyPageMessage, new { @class = "text medium" })
        </div>
    </div>
</fieldset>

<fieldset class="buttons">
    <legend style="margin-top: 30px; margin-bottom: 10px;">Buttons Text</legend>
    <div>
        <label for="CookieSettings_cookieAcceptButtonText">@T("Change 'OK' button text")</label>
        @Html.TextBoxFor(m => m.CookieLaw.cookieAcceptButtonText, new { @class = "text medium" })
    </div>
    <div @(settings.showCookieResetButton ? "" : "style=display:none")>
        <label for="CookieSettings_cookieResetButtonText">@T("Change 'GDPR Cookies' button text")</label>
        @Html.TextBoxFor(m => m.CookieLaw.cookieResetButtonText, new { @class = "text medium" })
    </div>
</fieldset>
<br />