@{
    var httpVerbs = new string[] {
"GET","POST","PUT","DELETE"
};

}
<fieldset>
    <div>
        <label for="audienceid">
            @T("Audience id")
            <input type="text" id="audienceid" name="AudienceId" value="@Model.AudienceId" class="text large tokenized" />
        </label>
    </div>
    <div>
        <label for="memberid">
            @T("MemberId")
            <input type="text" id="memberid" name="MemberId" value="@Model.MemberId" class="text large tokenized" />
        </label>
    </div>
    <div>
        <label for="httpverb">
            @T("Http VERB")
            <select type="text" id="httpverb" name="HttpVerb">
                @foreach (var verb in httpVerbs) {
                    <option value="@verb" @(verb == Model.HttpVerb ? "selected=\"selected\"" : "")>@verb</option>
                }
            </select>
        </label>
    </div>
    <div>
        <label for="payload">
            @T("Payload")
            <textarea type="text" id="payload" name="PayLoad" value="@Model.PayLoad" class="text large tokenized">@Model.PayLoad</textarea>
        </label>
    </div>
    <div>
        <label for"requiredpolicies">@T("Required Policies")</label> 
        <select multiple="multiple" name="RequiredPolicies" id="requiredpolicies">
            @foreach (var policy in Model.Policies) {
                <option value="{@policy.ContentItem.Id}" @(Model.RequiredPolicies!=null && Model.RequiredPolicies.Contains("{" + policy.ContentItem.Id + "}") ? "selected=\"selected\"" : "")>@policy.ContentItem.TitlePart.Title</option>
            }
        </select>
        @Html.Hint(@T("Insert Required Policies."))
    </div>

</fieldset>