@{
    var content = Model.ContentItem;
    }
<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="box-news-home">
        <a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)content)" title="@T("Go to page {0}", content.TitlePart.Title)">
            <span class="box-img-news-home" style="background-image: url('@Display.ResizeMediaUrl(Width: 820, Height: 420, Mode: "pad", PadColor: "#000000", Alignment: "middlecenter", Path: content.BlogPost.Gallery.MediaParts[0].MediaUrl)')"></span>
        </a>
        <p class="data">@content.CommonPart.CreatedUtc.ToString("dd MMMM, yyyy")</p>
        <h3 class="titolo-news"><a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)content)" title="@T("Go to page {0}", content.TitlePart.Title)">@content.TitlePart.Title</a></h3>
        @{
            string bodyHtml = content.BodyPart.Text;
            var body = new HtmlString(Html.Excerpt(bodyHtml, 190).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
               
        }
        <p class="testo-news">@body</p>
    </div>
</div>
