@using Orchard.Environment.Configuration
@{
    var settings = WorkContext.Resolve<ShellSettings>();
    var tenantName = settings.Name;

    var title = String.Concat(Layout.Title," - ", WorkContext.CurrentSite.SiteName);
    var subthemePath = "~/Themes/AutoMotoEpoca/Styles/" + tenantName + "/";

}
@{
    //Styles
    // #GM Gestione alto contrasto - start
    var cookie = WorkContext.HttpContext.Request.Cookies.Get("Accessibility");
    var accessibilityCookie = (cookie == null) ? "" : cookie.Value;
    if (accessibilityCookie == "highcontrast")
    {
        Style.Include(subthemePath + "style-contrasto.css").AtHead();
    }
    else {
        Style.Include("style.css").AtHead();
    }
    // #GM Gestione alto contrasto - end
    if (WorkContext.HttpContext.Request.QueryString["removejs"] == null)
    {
        Script.Include("main.js").AtFoot();
    }
    
}
<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture">
<head>
    <title>@title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     @Display(Model.Head)
</head>
<body>
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>
