@{
    var contents = Model.ContentItems; 
}

<div class="reportage">
    <div class="box-titolo-photogallery">
        <h2 class="titolo-photogallery">@T("REPORTAGE")</h2>
    </div>
    @foreach (var content in contents) {
        var mediaUrl = Display.ResizeMediaUrl(Width: 820, Height: 420, Mode: "pad", PadColor: "#000000", Alignment: "middlecenter", Path: content.UserReport.Gallery.FirstMediaUrl);
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)content)">
                    <span class="box-img-reportage" style="background-image: url('@mediaUrl')"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="box-info-reportage">
                    <span class="data">@content.CommonPart.CreatedUtc.ToString("dd MMMM, yyyy")</span><br />
                    <h3 class="titolo-reportage-home"><a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)content)">@content.TitlePart.Title</a></h3>
                </div>
            </div>
        </div>
    }
    <div class="clear"></div>
</div>
