@using Laser.Orchard.OpenAuthentication.Extensions
@using Laser.Orchard.OpenAuthentication.Models
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions
@using Laser.Orchard.OpenAuthentication
@using Laser.Orchard.StartupConfig.Extensions;
@{
    var userCanRegister = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().UsersCanRegister;
    var enableLostPassword = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().EnableLostPassword;

    var clientsData = (List<OrchardAuthenticationClientData>)Model.ClientsData;

    var userName = Request.QueryString["UserName"];
    var externalLoginData = Request.QueryString["ExternalLoginData"];
    var returnUrl = Request.QueryString["ReturnUrl"];
}
<div class="row">
    @Html.ValidationSummary(T("Login was unsuccessful. Please correct the errors and try again.").ToString())
</div>
@if (!string.IsNullOrWhiteSpace(userName) && !string.IsNullOrWhiteSpace(externalLoginData)) {
    <div class="row">
        <p>@T("This user account will be linked to <b>{0}</b> when you login.", userName)</p>
    </div>
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>@T("Login to Auto & moto d'epoca.")</h3>
                <p>@T("Please enter your username and password.")</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            @*using (Html.BeginFormAntiForgeryPost(Url.LogOn(returnUrl, userName, externalLoginData), new { @class = "login-form"})) {*@
            @using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", "Account", new { area = Constants.OrchardUsersArea, ReturnUrl = returnUrl, UserName = userName, ExternalLoginData = externalLoginData, @class = "login-form" }))) {
                <div class="form-group">
                    <label class="sr-only" for="form-username">@T("Username")</label>
                    @Html.TextBox("userNameOrEmail", "", new { id = "form-username", autofocus = "autofocus", placeholder = "Username...", @class = "form-username form-control" })
                    @Html.ValidationMessage("userNameOrEmail")
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password">@T("Password")</label>
                    @Html.Password("password", "", new { id = "form-password", autofocus = "autofocus", placeholder = "Password...", @class = "form-password form-control" })
                    @Html.ValidationMessage("password")
                </div>
                <div class="form-group">
                    <label class="checkbox" for="remember-me">
                        @Html.CheckBox("rememberMe", new { id = "remember-me" }) @T("Remember Me")
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn" type="submit">@T("Sign In")</button>
                </div>
                <div class="form-group">
                    @if (userCanRegister) {<p><a href="@Url.Register(userName, externalLoginData)">@T("Register")</a> @T(" if you don't have an account.") </p>}
                    @if (enableLostPassword) {<p>
                            <text> </text>
                            @Html.ActionLink(T("Lost your Password?").Text, "RequestLostPassword")
                        </p>}
                </div>
            }
        </div>

    </div>
</div>
@if (clientsData.Any()) {
    using (Html.BeginFormAntiForgeryPost(Url.OpenAuthLogOn(returnUrl))) {
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
                <h3>@T("...or login with:")</h3>
                <div class="social-login-buttons">
                    @foreach (OrchardAuthenticationClientData clientData in clientsData) {
                        <button class="btn btn-link-2" type="submit" name="providerName" value="@clientData.ProviderName" title="@T("Log in using your {0} account", clientData.DisplayName)"><i class="fa fa-@clientData.ProviderName.ToLowerInvariant()"></i>@clientData.DisplayName</button>

                        @*
                             <a class="btn btn-link-2" href="#">
                                <i class="fa fa-@clientData.ProviderName.ToLowerInvariant()"></i>Facebook
                            </a>*@
                    }
                </div>
            </div>
        </div>
    }
}
