<h3 class="titolo-footer">@T("LATEST NEWS")</h3>
@foreach (var contentShape in Model.ContentItems.ContentItems.Items) {
    var content = contentShape.ContentItem;
    <div class="box-news-footer">
        <h2>@content.TitlePart.Title</h2>
        @{
    string bodyHtml = content.BodyPart.Text;
    var body = new HtmlString(Html.Excerpt(bodyHtml, 100).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
               
        }

        <p>@body</p>
        <p><strong><a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)content)" title="@T("Go to page {0}", content.TitlePart.Title)">@T("Read more") >>> </a></strong></p>
    </div>

}
