@using Laser.Orchard.SecureData.ViewModels

@model EncryptedStringFieldEditViewModel

@{
    //var inputType = Model.Settings.IsVisible ? "text" : "password";
    string inputType = "password";

    // If Value is Required, but it is not Visible and already has a Value, Value input isn't required anymore.
    bool required = Model.Settings.Required;
    if (required) {
        if (!Model.Settings.IsVisible && Model.HasValue) {
            required = false;
        }
    }
}

<fieldset>
    <div class="form-group input-group">
        <label for="@Html.FieldIdFor(m=>m.Value)"
               @if (required) { <text> class="required" </text> }>@Model.DisplayName</label>
            <input type="@inputType" id="@Html.FieldIdFor(m=>m.Value)"
                   name="@Html.FieldNameFor(m=>m.Value)"
                   class="form-control"
                   @if (required) { <text> required</text> }
                   @if (!string.IsNullOrWhiteSpace(Model.Settings.Pattern)) { <text> pattern="@Model.Settings.Pattern" </text> }
                   @if (Model.Settings.IsVisible) { <text> value="@Model.Value" </text> } />
            <span class="input-group-btn">
                <button class="btn btn-default reveal" type="button" id="revealValue"><i class="glyphicon glyphicon-eye-open"></i></button>
            </span>
        </div>
        @if (Model.Settings.ConfirmRequired) {
            <div class="form-group input-group">
                <label for="@Html.FieldIdFor(m => m.ConfirmValue)"
                       @if (required) { <text> class="required" </text> }>@T("Confirm {0}", Model.DisplayName)</label>
                    <input type="@inputType" id="@Html.FieldIdFor(m => m.ConfirmValue)"
                           name="@Html.FieldNameFor(m => m.ConfirmValue)"
                           class="form-control"
                           @if (required) { <text> required</text> }
                           @if (!string.IsNullOrWhiteSpace(Model.Settings.Pattern)) { <text> pattern="@Model.Settings.Pattern" </text> } />
                    <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button" id="revealConfirmValue"><i class="glyphicon glyphicon-eye-open"></i></button>
                    </span>
                </div>
            }
        @if (!Model.Settings.Required && !Model.Settings.IsVisible) {
            <div>
                @Html.CheckBoxFor(m => m.SaveIfEmpty) <label for="@Html.FieldIdFor(m => m.SaveIfEmpty)" class="forcheckbox">@T("SaveIfEmpty")</label>
                <span class="hint">@T("Save value even if it's empty.")</span>
            </div>
        }
        @if (!Model.Settings.IsVisible) {
            <span class="hint">
                @if (Model.HasValue) {
                    @T("There already is a value saved in the field.");
                } else {
                    @T("There is no value saved in the field.");
                }
            </span>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Settings.Hint)) {
            <span class="hint">@Model.Settings.Hint</span>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Settings.Pattern)) {
            <span class="hint">@T("Pattern: {0}", Model.Settings.Pattern)</span>
        }
    </fieldset>

    @using (Script.Foot()) {
        <script>
            jQuery(document).ready(function ($) {
                $("#revealValue").on('click', function () {
                    var $pwd = $("#@Html.FieldIdFor(m => m.Value)");
                    if ($pwd.attr('type') === 'password') {
                        $pwd.attr('type', 'text');
                    } else {
                        $pwd.attr('type', 'password');
                    }
                    $("i", $("#revealValue")).toggleClass("glyphicon-eye-open");
                    $("i", $("#revealValue")).toggleClass("glyphicon-eye-close");
                });

                $("#revealConfirmValue").on('click', function () {
                    var $pwd = $("#@Html.FieldIdFor(m => m.ConfirmValue)");
                    if ($pwd.attr('type') === 'password') {
                        $pwd.attr('type', 'text');
                    } else {
                        $pwd.attr('type', 'password');
                    }
                    $("i", $("#revealConfirmValue")).toggleClass("glyphicon-eye-open");
                    $("i", $("#revealConfirmValue")).toggleClass("glyphicon-eye-close");
                });
            });
        </script>
    }