@using Laser.Orchard.Policy;
@model Laser.Orchard.Policy.Models.PolicyTextInfoPart
@{ 
    var hasPermission = Authorizer.Authorize(Laser.Orchard.Policy.Security.Permissions.AddPolicyToRegistration);
}
<fieldset>
    <div>
        @Html.LabelFor(x => x.PolicyType, T("Policy type").Text, new { })
        @Html.DropDownListFor(m => m.PolicyType, new SelectList(Enum.GetNames(typeof(Laser.Orchard.Policy.PolicyTypeOptions)), Model.PolicyType))
        <span class="hint">@T("For the \"Policy\", \"CommercialUse\" and \"ThirdParty\" options an Accept/Don't Accept choice will be proposed to the end user.")</span>
        <span class="hint">@T("For the \"Regulation\" option a \"I have read the regulation\" flag will be proposed to the end user.")</span>
    </div>
    <div>@Html.LabelFor(m => m.Priority, @T("Priority"))
        @Html.EditorFor(m => m.Priority)
        <span class="hint">@T("Set a priority. This information is used to order policy texts in a descending priority order.")</span>
    </div>
    <div>@Html.EditorFor(m => m.UserHaveToAccept)
        @Html.LabelFor(x => x.UserHaveToAccept, @T("User have to accept this policy").Text, new { @class = "forcheckbox" })
        <span class="hint">@T("Without acceptation on this policy, contents under policies will not be displayed.")</span>
    </div>
    @if (hasPermission) {
    <div>@Html.EditorFor(m => m.AddPolicyToRegistration)
        @Html.LabelFor(x => x.AddPolicyToRegistration, @T("Show this policy during user registration").Text, new { @class = "forcheckbox" })
        <span class="hint">@T("Add this policy to the policies a user have to accept or decline during his registration.")</span>
    </div>
    }
</fieldset>
